[2016-06-08 15:45] cinnamoner opened #1 "StarkMenu"
@Elbullazul
Please check this out:
https://github.com/NikoKrause/CinnXPStarkMenu/issues/6
I'm trying to establish communication.

[2016-06-08 16:18] feren opened #2 "Collaborators"
Am I and Cinnamoner collabs because apparently I don't have read-write access to files like Readme.md...?

[2016-06-08 16:48] Elbullazul commented on #2
you have to accept the invitation to have write access

[2016-06-08 17:41] #2 closed

[2016-06-08 17:41] dominichayesferen commented on #2
Then it is done.

[2016-06-08 20:11] feren opened #3 "Jade Progress"
@Guys
This is how far I've got with that Basic (Jade) theme and icon set:
![screenshot from 2016-06-08 20-59-32](https://cloud.githubusercontent.com/assets/11057934/15909277/75de2b80-2dbd-11e6-89d0-6747b72d58d2.png)

[2016-06-08 20:19] Elbullazul commented on #3
looks good,

I had never seen that icon set...

[2016-06-08 20:20] #1 closed

[2016-06-09 06:34] dominichayesferen commented on #3
The icon set is half Longhorn Skin Pack, half 4074, half XP

[2016-06-09 10:45] cinnamoner commented on #3
@ferns
1/2 + 1/2 +1/2 = 1.5
That's a whole theme and a half. Just kidding. Looks very pretty.

[2016-06-09 14:53] dominichayesferen commented on #3
...almost forgot, and it's "half" Longhorn Linux icons

[2016-06-09 21:02] cinnamoner commented on #3
= 2 hehe.

[2016-06-10 16:21] feren opened #4 "Plex Resources"
Just so everyone's prepared for when Plex 2.0 is done, here's most of the resources: (Just remove the pink like usual)
![button0active](https://cloud.githubusercontent.com/assets/11057934/15971060/b217fcd4-2f2f-11e6-8c51-b162c4d9c9f7.png)
![button0inactive](https://cloud.githubusercontent.com/assets/11057934/15971061/b218e86a-2f2f-11e6-8d3b-aaf4d0f53555.png)
![button1active](https://cloud.githubus

[2016-06-10 16:23] dominichayesferen commented on #4
Or you could just use the resources here (Pink removing needed) :
https://onedrive.live.com/redir?resid=FDBB94FEC377D26B!905&authkey=!AHCiFX3X-v2p7R0&ithint=folder%2cpng

[2016-06-10 16:25] dominichayesferen commented on #4
...Oh and also, here's some SLATE Resources:
![image](https://cloud.githubusercontent.com/assets/11057934/15971308/5f34ab74-2f30-11e6-925d-1a3ccf7a46f2.png)

[2016-06-10 17:53] Elbullazul commented on #4
Oh cool.  For the next resources,  would you please zip them and upload the zip instead? It will take less time to process

[2016-06-11 00:12] cinnamoner commented on #1
@Elbullazul
For Fair Use Only.
![20160611_004101](https://cloud.githubusercontent.com/assets/15638605/15981699/0c0cafee-2f82-11e6-9314-05b8ebf336c6.jpg)

[2016-06-11 00:17] cinnamoner commented on #1
![20160611_004131](https://cloud.githubusercontent.com/assets/15638605/15981740/a3b2b32a-2f82-11e6-9165-742224960d8d.jpg)
For Fair Use Only.

[2016-06-11 00:22] cinnamoner commented on #1
For Fair Use Only.
![20160611_004227](https://cloud.githubusercontent.com/assets/15638605/15981788/46f0863e-2f83-11e6-9a0c-5e97f09cc5f7.jpg)

[2016-06-11 00:27] cinnamoner commented on #1
@Elbullazul
Cute buttons, hmmm?

[2016-06-11 08:12] dominichayesferen commented on #1
Yeah... :)

[2016-06-11 08:13] dominichayesferen commented on #4
Look at the link under Plex, it has a OneDrive archive that upon download, zips up...

[2016-06-11 08:21] cinnamoner commented on #3
@feren
Why have you locked Plex?

[2016-06-11 09:20] dominichayesferen commented on #3
To then make it just for archive reasons and prevent anyone else deleting them, etc by accident (mainly for archive reasons)...

PS: Aren't you a Collaborator? Collabs can edit and comment on Locked Conversations afterall...

It also makes it easier for @Elbullazul if it's left as it is... (Access to resource wise)

[2016-06-11 09:36] cinnamoner commented on #1
@feren
I'm gald you like 'em :)

[2016-06-11 09:56] cinnamoner commented on #3
@feren
No, I cannot comment on Plex. For whatever reason, I'm locked out as well.

[2016-06-11 10:02] cinnamoner commented on #3
@feren
I've just checked again.

[2016-06-11 10:03] cinnamoner commented on #3
@feren
No big deal though.

[2016-06-11 10:10] cinnamoner commented on #3
@feren
Inasmuch as it's a resource archive, you're correct. Nothing good comes from pointless overcommentin.

[2016-06-11 15:38] feren opened #5 "Aero Progress"
...and here's Aero so far (trying to fix the buttons though...)
![screenshot from 2016-06-11 16-35-47](https://cloud.githubusercontent.com/assets/11057934/15985885/e69c7052-2ff2-11e6-80cb-e2de330290d9.png)

[2016-06-11 15:38] dominichayesferen commented on #5
The titlebars are based off of "Express" in Vista Beta 2:
http://www.betaarchive.com/imageupload/2015-05/1430489973.or.97007.png

[2016-06-11 19:03] cinnamoner commented on #5
@feren
I like very much the titlebars and buttons of "Express" in Vista Beta 2. As a Matter of fact, I pretty much like everything about the Beta 2, but the "Express" is the coolest. Period.

[2016-06-11 19:41] cinnamoner commented on #5
@feren
Point me to a beta 2 iso, will you. I wanna check it out thoroughly.

[2016-06-11 19:43] dominichayesferen commented on #5
https://winworldpc.com/product/windows-longhorn-vis/post-reset

Hit "Build 5456" as it's one that I know has the Old Windows Basic theme... Then download it and install in a VM I guess...

[2016-06-12 10:59] feren opened #6 "Plex Progress(?)"
Was bored so I decided to start Plex in Cinnamon, this is what it looks like right now with StarkMenu:
![plex](https://cloud.githubusercontent.com/assets/11057934/15990738/1d01631c-3095-11e6-87ad-a05ba323ac98.png)

[2016-06-12 12:24] feren opened #7 "Slate Progress"
...and I've also started Slate, this is it so far (out of boredom)
![slate](https://cloud.githubusercontent.com/assets/11057934/15991112/07492d6e-30a1-11e6-803b-65f973c8e8fd.png)

[2016-06-12 12:54] cinnamoner commented on #5
@feren
Yeah, but all the screenshots you've posted represent build 5270. !?

[2016-06-12 13:18] cinnamoner commented on #5
@feren
So if I don't run in VM the machine could go kaboom or what?

[2016-06-12 13:22] dominichayesferen commented on #5
Who knows? If 5456 glitched like that, you'd probably go nuts yourself trying to make it completely fully work, not forgetting the glitches and bugs, etc. (Vista has a bad reputation for RTM, this is probably worse than RTM for it)

[2016-06-12 13:24] cinnamoner commented on #5
@feren
"Expess". That's the one I like.

[2016-06-12 13:29] feren opened #8 "GTK Themes"
@Elbullazul
Are you still going to do the GTK Themes? Just that Jade is now on the Repo waiting for it's GTK2 & 3 themes to be added...

PS: Here's some resources to match the titlebar to use instead of that Vista image on the main toolbar on the Jade GTK: Active:
![headerbar-active](https://cloud.githubusercontent.com/assets/11057934/15991433/609a23d8-30aa-11e6-8967-32772019f464.png)
Inactive:
![

[2016-06-12 13:32] #4 closed

[2016-06-12 13:33] dominichayesferen commented on #3
The Jade theme is now pushed into the Repo... Issue Closed

[2016-06-12 13:33] #3 closed

[2016-06-12 14:25] cinnamoner commented on #5
@feren
I know this is not border issue, but do you think those blue navigation buttons enbeded in those pits could pe replicated as well? If unclear, please ask.

[2016-06-12 14:42] cinnamoner commented on #8
@feren
I've just checked on Jade. Looks good.

[2016-06-12 14:50] cinnamoner commented on #7
@feren
This one looks good too. Perhaps a little reminiscent of XP (so is Jade). But they are supposed to be that  way.

[2016-06-12 14:57] cinnamoner commented on #6
@feren
Same here. Reminiscent of XP, but it's supposed to be that way, I guess.

[2016-06-12 15:40] ghost commented on #8
dont forget the menu padding issue. menu no padding , menuitem yes on gtk3. this is in gtk3.18 and 20.

progress on 3.18 to 3.20 porting script, publish next days.

if you have questions about gtk3.18 theming ask me, perhaps i know something.

b.t.W feren do you know my png2css script? it does convert gradients png from top to bottom to text.

[2016-06-12 15:44] cinnamoner commented on #8
@bluedxca93
Thanks!

[2016-06-12 15:45] ghost commented on #6
@feren set the color in the box and not in the menuitems on cinnamon.please try without asking...

[2016-06-12 16:56] dominichayesferen commented on #6
@bluedxca93 , could you tell me where in the file that colour code to change is to make it much easier to do?
@cinnamoner , who knows? Just a quick change to @Elbullazul 's Vista Theme and then replacing a few window buttons and it will be a bonus like Beta 1 (non-Aero) and Plex 1.0

[2016-06-12 16:58] dominichayesferen commented on #8
@bluedxca93 , didn't before but know, it might prove handy for me and @Elbullazul ... :)

[2016-06-12 16:59] dominichayesferen commented on #5
Might be possible, if one makes an alternative File Manager fork where back and forward are just on their own and without the Button BG (otherwise it would cause problems with other buttons)

One did do that before (elementary Files), but the pits weren't possible though in that one...

[2016-06-12 17:01] dominichayesferen commented on #5
Hmm, not sure at all what's happening with @Elbullazul , whether he's been kicked from his computer (again), or something else... :/

[2016-06-12 17:48] ghost commented on #6
cinnamon.css remove color code from favorites menuitem and set it in box, do the same for menu and applications.

[2016-06-12 17:50] cinnamoner commented on #1
@Elbullazul
Where is the lord of the house?

[2016-06-12 19:13] cinnamoner commented on #5
@feren
He'll show. I guess he wantsta take us by surprise.

[2016-06-12 21:04] Elbullazul commented on #5
Hi guys,  sorry for the delay.  Glad to see everything has advanced so well.

[2016-06-12 21:05] Elbullazul commented on #1
He was out on vacation  :/

Looks great,  but we still have to wait for the classes niko promised

[2016-06-12 21:07] Elbullazul commented on #6
Very nice.  Except that stark can't dual color text very well.  I'll be back when I get to use my pc

[2016-06-12 21:09] Elbullazul commented on #8
@bluedxca93 your script sounds interesting.  Do you have a link to it?

@feren il get started on themes tomorrow.  I probably won't use my pc today

[2016-06-12 22:38] Elbullazul commented on #3
@feren do you mind if I remaster the cinnamon theme?

[2016-06-13 00:25] Elbullazul commented on #8
![capture du 2016-06-12 20 23 19](https://cloud.githubusercontent.com/assets/15310985/15994789/b209396c-30db-11e6-8d27-3553bf1b4dce.png)

for the moment, everything is looking great, except the titlebars (metacity) who won't match the menubar & toolbar backgrounds.

[2016-06-13 00:42] Elbullazul commented on #8
another thing, someone knows how to define backdrop elements with the pixbuf engine for gtk2 apps?

[2016-06-13 00:44] Elbullazul commented on #7
cool! :D

[2016-06-13 01:02] Elbullazul commented on #8
nevermind about the metacity theme, I corrected it :
![capture du 2016-06-12 20 59 39](https://cloud.githubusercontent.com/assets/15310985/15995000/a4e31492-30e0-11e6-9df4-8fd842b1dac8.png)

[2016-06-13 04:31] bluedxca93 commented on #8
@cinnamoner not when its only half done. used traditional ok as reference. once its done post it.
be sure its not readable.
will add two text files too. problem is meld already crashed once and its rather difficult to find every expression between gtk3.18 and gtk 4.x . that maybe named 3.20 but that is a joke.!Hope 3.24 will be 4.0 and 3.18 the last gtk3  version in the repositorys of 3.0.

[2016-06-13 06:45] dominichayesferen commented on #8
Hmm, there's a clipping issue with your metacity config, either try to change the font size and/or increase the height of the titlebar-middle images in the metacity folder, that usually does the trick, also, might mod the titlebar text colours to match Jade soon...

[2016-06-13 06:47] dominichayesferen commented on #3
No, not at all, as long as you don't replace the other one if it doesn't look like that proper Longhorn build's Aero taskbar... (Send a screenshot?)

[2016-06-13 12:56] Elbullazul commented on #8
here's how it looks like when fixed :
![capture du 2016-06-13 08 54 32](https://cloud.githubusercontent.com/assets/15310985/16008153/7d5b7c8e-3144-11e6-8d44-a51cc73c9d28.png)

hadn't remarked than when a window is resized to a very small size, the toolbar's background doesn't scale right anymore :
![capture du 2016-06-13 08 55 37](https://cloud.githubusercontent.com/assets/15310985/16008181/9f61e3

[2016-06-13 15:23] dominichayesferen commented on #8
Ah, I just realized why the original had issues with those images above:
As well as clipping off the top-border parts from the image, I also clipped a border's width from both sides of the image, but I've now realized that Metacity squashes the titlebar-middle image in the middle of the titlebar between titlebar-left and titlebar-right, same way as GTK squashes it, so oops... :/

[2016-06-13 15:41] cinnamoner commented on #8
@Guys
It already looks way better than what I've anticipated.

[2016-06-13 15:54] dominichayesferen commented on #8
@Elbullazul
Never mind about the clipping now, just make some mods for borders in the Jade Metacity on non-maximized windows...

[2016-06-13 16:10] dominichayesferen commented on #5
Hey @Elbullazul , if you could do it, could you get StarkMenu to work properly on this Start Menu BG? (It's called Hillel Start Menu)

![menu-bg](https://cloud.githubusercontent.com/assets/11057934/16014575/a80aee16-3189-11e6-8f2d-61e739c9c372.png)

(and once you do, could you merge it into Aero's cinnamon folder over it's current menu-bg.png file?)

[2016-06-13 16:34] dominichayesferen commented on #8
Also updated the metacity theme with a new font colour (like the Jade one...)

[2016-06-13 17:27] ghost commented on #8
bluedxca93/18-20 now online.
it isn't finished yet, but tge code it generates will look like 3.20 .

[2016-06-13 18:35] Elbullazul commented on #8
![capture du 2016-06-13 14 31 08](https://cloud.githubusercontent.com/assets/15310985/16018757/dcad7848-3173-11e6-80f3-3cb70395c81d.png)

getting better (i guess?)

@bluedxca93 how does your script work?

[2016-06-13 18:40] cinnamoner commented on #8
@Guys
Following with great interest.

[2016-06-13 18:57] dominichayesferen commented on #8
How the hell did you do that!? That looks amazing! :D
PS: Not that much of a fan of the Start Button though, I'll keep with the current one and duplicate yours as an alternative version...

Also is it possible to budge the menu to the left slightly like in Longhorn (as in make it touch the left side of the screen)?

[2016-06-13 19:05] Elbullazul commented on #8
@feren in fact, the start button is embedded into the panel. It's easier to manage, but then we lose hover effects (who weren't included anyways)

I'm trying to, apparently it's something with the image itself...

[2016-06-13 19:14] dominichayesferen commented on #8
Mind if I move yours to Windows Longhorn Jade (Changable Start Button) and then put the one with Longhorn's own Start Button shown in concepts along with the rest of the theme in it's place on Windows Longhorn Jade?

(BTW, you don't have to yourself, I've got it all ready with every mod apart from panel and Start Button, the rest of your updates will be there in the original too)

[2016-06-13 19:15] Elbullazul commented on #8
ok, let's organize it like you say

[2016-06-13 19:16] dominichayesferen commented on #8
@Elbullazul Also: Could you upload the start button BG used on your panel so that I can also make it work as an alternative for the glass one too for when it's released to save you time?

Also, could you upload the images of the Start Menu you made out of that other Hillel Start Menu but with the transparent version of it (like linked to in Credits)? (As in can you get the transparent one, then mo

[2016-06-13 19:17] dominichayesferen commented on #8
@Elbullazul Also, where did you get your StarkMenu from? Just that mine has the old Quit, Log Off, Lock Screen links stacked on top of each other layout...

EDIT: There's an option in Config... :/

[2016-06-13 19:43] ghost commented on #8
@Elbullazul
/bluedxca/19-20 repo
./portto20_r2 input.css
but tommorow im adding a new enhanced version named port.checked against adwaita.
requires sed installed to your system.except toolbars it should produce usable results.maybe run ambiance css against it .
reach soon 1k lines of code.
please post your starkmenu.

[2016-06-13 19:47] dominichayesferen commented on #8
@bluedxca93 He's using the fork of yours known as 'CinnXPStarkMenu' with the configs having the "Quit Menu Layout" as Horizontal...

And then the skin is Windows Longhorn Jade in the Themes folder of this repo

[2016-06-13 19:52] ghost commented on #8
thx.

b.t.w.just looked at the code of myself on my mobile phone. have to check order of replacements a bit.some has to be moved down.

[2016-06-13 19:52] cinnamoner commented on #8
interesting

[2016-06-13 19:52] dominichayesferen commented on #8
@Elbullazul
What's with the 'cinnamon' folder in Themes/ is it anything or just an accidental duplicate?

[2016-06-13 19:54] Elbullazul commented on #8
@feren temp backup. I'm removing it in next commit

[2016-06-13 20:00] dominichayesferen commented on #8
Oh ok

[2016-06-13 20:02] dominichayesferen commented on #8
Also, in your next commit, can you make it so window titles in Cinnamon Window List are not bold on hover or active like in Longhorn?

[2016-06-13 20:05] Elbullazul commented on #8
already done!

I'm just still missing a way of making gtk2 toolbars go backdrop :imp:

[2016-06-13 20:09] dominichayesferen commented on #8
Hmm, these headerbars also don't look right on 16.04:
![screenshot from 2016-06-13 21-08-56](https://cloud.githubusercontent.com/assets/11057934/16021543/320e2fc6-31ab-11e6-9a7e-a369d31832a8.png)

[2016-06-13 20:09] cinnamoner commented on #8
@Guys,
Would you consider merging those menus into 1, please?

[2016-06-13 20:10] dominichayesferen commented on #8
Which menus?

[2016-06-13 20:10] ghost commented on #8
@Elbullazul :
remove backdrop from gtk3. easiest solution. afaik not implemented in gtk2. maybe toolbar insensitive/inactive is.

[2016-06-13 20:12] dominichayesferen commented on #8
Nah, having backdrop on GTK 3 makes it more like Longhorn especially since in Longhorn, it has Aero Glass almost with it's Explorer by 4074... (like this theme)

Also, the only other alternative is murrine but:
1. No murrine for GTK3 (afaik)
2. Cinnamon has no Window Titlebar transparency

[2016-06-13 20:12] cinnamoner commented on #8
@feren
GOD bless you!

[2016-06-13 20:14] dominichayesferen commented on #8
...well, that was awkward, I thought it copied the headerbar screenshot at first... :/

[2016-06-13 20:16] ghost commented on #8
.titlebar.headerbar & .menubar inconsistendly styled

murrine transparency not working in cinnamon.

[2016-06-13 20:17] cinnamoner commented on #8
@feren
Bluedxca93's and NicoKrause's.

[2016-06-13 20:18] cinnamoner commented on #8
Unless, I'm missing somthing @Elbullazul

[2016-06-13 20:22] feren commented on #8
Well, I will probably add CinnXPStarkMenu as an option in 2016.2's Applets, with the correct mods to CinnXP of course... (But Slingshot will still be the default launcher for ease-of-use reasons... xP)

[2016-06-13 20:24] Elbullazul commented on #8
@feren that's unity right? no unity theme up to now

@bluedxca93 that's what I was thinking. backdrop is impossible with gtk2. I think that on gtk 3.20 there is no need for gtk2 since gnome kind of redirects system calls to gtk objects

[2016-06-13 20:26] cinnamoner commented on #8
Hmmm?

[2016-06-13 20:27] dominichayesferen commented on #8
@Elbullazul No that is Cinnamon in the headerbar screenshot

PS: If it was Unity, it wouldn't have the GNOME Software icon...

[2016-06-13 20:27] Elbullazul commented on #8
@cinnamoner no, I use niko's menu

that's a thing to discuss with both of them, you know

[2016-06-13 20:41] cinnamoner commented on #8
@Elbullazul
Obviously.

[2016-06-13 22:26] cinnamoner commented on #1
@Elbullazul
Good. Thank you. It's just a matter of time then.

[2016-06-13 23:25] Elbullazul commented on #8
@feren I'll check header bars tomorrow.

@bluedxca93 is a shell script then right?

[2016-06-14 02:24] ghost commented on #8
@elbullazul yes(and no), but you need sed installed on your system.
doesnt work without and only in terminal.
navigate to the folder script is in:
sudo apt-get install sed;
chmod a+x port_;
./port_ input.css > output.css;
as said before this upload incomplete and have to reorder some lines
for next version but will work the same way. script requires only sed,
a small text replacement utility.

[2016-06-14 15:18] cinnamoner commented on #1
@Elbullazul
Okay, these are the navigation buttons I would enjoy in the Vista theme (Redmond repo):

[2016-06-14 15:22] cinnamoner commented on #1
For Fair Use Only
![20160614_164014](https://cloud.githubusercontent.com/assets/15638605/16048422/aa4f06a2-325c-11e6-8a44-891b31460ef0.jpg)

[2016-06-14 15:27] cinnamoner commented on #1
Okay, and this is the window border & buttons I favor for the Vista theme (Redmond repo):

[2016-06-14 15:48] cinnamoner commented on #1
For Fair Use Only

[2016-06-14 15:49] cinnamoner commented on #1
Coming soon ...

[2016-06-14 16:14] cinnamoner commented on #1
For Fair Use Only
![20160614_164443](https://cloud.githubusercontent.com/assets/15638605/16050316/dcb0bf9e-3263-11e6-9b61-97548caa040d.jpg)

[2016-06-14 16:24] cinnamoner commented on #1
Proof of this look having had appeared in Vista first has already been delivered on the off topic thread (10 repo).

[2016-06-14 16:28] cinnamoner commented on #1
@Elbullazul
So what do you think?

[2016-06-14 16:44] Elbullazul commented on #1
@cinnamoner wikipedia confirms this. My bad, you win this time :smile:

[2016-06-14 17:00] cinnamoner commented on #1
@Elbullazul
I have never considered to go into any competition with you.
Please, check the the thread referenced on this one 'cause NicoKrause seems puzzled. I can't get any clearer than that.

[2016-06-14 17:02] Elbullazul commented on #1
@cinnamoner or he's just offline. Leave it like that, he'll understand when he has time to analyse everything

[2016-06-14 18:01] cinnamoner commented on #1
@Elbullazul
Sure thing.

[2016-06-15 19:15] cinnamoner commented on #8
@Elbullazul
I am contemplating the layout.

[2016-06-15 19:21] ghost commented on #8
@elbullazul @feren got now ambiance-aero partially ported to 3.20 .
the scrollbar and scale is giving me some trouble.
rest works at least acceptable.
but its printing errors. less but still tons.

[2016-06-15 19:23] cinnamoner commented on #8
@Elbullazul
Yes Sir, the answer is right here. Just put them side by side and you'll get the picture.

[2016-06-15 19:24] cinnamoner commented on #8
@Elbullazul
Hmmm?

[2016-06-15 20:01] Elbullazul commented on #8
@bluedxca93 the new scrollbar is very weird and complex.  Have a look at the original adwaita code for better integration.

[2016-06-16 13:24] ghost commented on #8
@Elbullazul now fixed, upload soon here on github. you can take a look at it then. new gtk 3.20 surpresses some error messages. logic more close to cinnamon themes now..

[2016-06-16 18:09] Elbullazul commented on #6
@feren here's progress on the GTK theme :
![capture du 2016-06-16 14 09 24](https://cloud.githubusercontent.com/assets/15310985/16127793/f551f27a-33cb-11e6-9533-15b9e8c83ba5.png)

[2016-06-16 19:34] dominichayesferen commented on #6
OMG Nice!
Just some problems:
- Windows Classic is not the button scheme of Plex
- Wrong button theme in GTK

PS: I was meaning to do Plex 2.0 (which is the one that you see in Longhorn 4039 (not worth installing, I've been told it's the slowest Windows build ever (5 mins to boot on new install, etc))

[2016-06-16 19:35] dominichayesferen commented on #6
Do you mind if when my Metacity and Cinnamon are ready, if I push them and move the current one to the bonus Plex 1.0 one (it looks like Plex 1.0 with the gradient)?

[2016-06-16 19:38] dominichayesferen commented on #6
Actually, I'll just push Plex Cinnamon in it's current state once I get the applet and window list buttons to be their Plex ones then work on 2.0 Metacity (see how mine and yours compare)...

[2016-06-16 19:39] feren commented on #6
@Elbullazul
How do you set up Git for Linux to work on my account? (I've tried to set it up to no avail)

[2016-06-17 00:02] Elbullazul commented on #6
@feren all right!

P.S. is this what you meant?

![Windows Longhorn 4039](http://longhorn.ms/wp-content/uploads/4039-dwm.png)

[2016-06-17 06:33] dominichayesferen commented on #6
@Elbullazul
Yeah but without the Aero prototype... :P

[2016-06-17 07:26] ghost commented on #6
good work.
my favorite idea to make at least a theme of is watercolor.
Can someone make something similar to these info a metacity theme?
www.windows-nation.de/whistler2416/whistlerbeta1.html
The rest isn't worth doing anything with it

[2016-06-17 10:23] Elbullazul commented on #6
@bluedxca93 probably will,  in some time.

If looks like ms took Windows 3 and 95 and blended everything xd

[2016-06-17 10:25] Elbullazul commented on #6
@feren i'll change the buttons,  I just wanted to get the gtk theme started.

Wrong button style? What do you mean?

[2016-06-17 15:12] dominichayesferen commented on #6
The gradients look odd and out of place for the buttons, the buttons themselves are lighter coloured, eg:
![image](https://cloud.githubusercontent.com/assets/11057934/16155223/43f54596-34a6-11e6-8b60-44089929505e.png)

(IN ABOUT WINDOWS WINDOW)

[2016-06-17 15:32] Elbullazul commented on #6
@feren all right I'll fix it

[2016-06-18 15:38] feren opened #9 "The icon set is here!"
Finally, I'm happy to announce the publishing of the WIP Icon Set for the Longhorn Collaboration!!

@Elbullazul (It's still WIP though)

[2016-06-18 15:46] #9 closed

[2016-06-18 18:45] dominichayesferen commented on #8
Ok, so in my testing, here's themes I can confirm to have and confirm not to have the GTK3 Menu bug:
Affected:
Windows 9X
Windows 3.X
Windows Vista
Longhorn for Linux Collaboration Themes
Not Affected:
Windows 10
OS X El Capitan

[2016-06-18 19:48] ghost commented on #8
@cinnamoner @feren end of next week ambiance aero for 3.20 is at an
usable state.Hope someone can test then. Used ambiance 3.18 for it.
And it runs nearly as good as numix. That is surprising, since its not
written in sass/scss.

regarding 3.18 menu bug: yes but its better to check the two others
too. In 3.20+ padding values may be need to be configured correctly.So
for easier future porting: keep

[2016-06-19 01:42] Elbullazul commented on #9
@feren nice!  Hope I'll finish one or more themes this week

[2016-06-19 01:46] Elbullazul commented on #8
@bluedxca93 I checked myself,  flat unity (my Themes basis) didn't include padding for the menu.  Shouldn't affect either zune and embedded (though these aren't fully ported to 3.18)

[2016-06-19 21:04] cinnamoner opened #10 "Jade"
_And of course I'm looking for a 4th theme in my lineup for upcoming Sarah. It will probably be Jade. Quite an honor to be part of the family ..._

[2016-06-19 21:43] cinnamoner commented on #10
_... or Aero Express, hmmm ..._

[2016-06-19 21:43] #10 closed

[2016-06-20 20:17] cinnamoner commented on #8
@Elbullazul
Perhaps, you could list a positives vs negatives as to 3.18 and 3.20. I'm still somewhat puzzled.

[2016-06-20 20:32] cinnamoner commented on #8
@Elbullazul
So, in a nutshell, if a theme is fully 3.18 compliant then it will work a okay on Sarah, righ?

[2016-06-20 20:36] cinnamoner commented on #8
@Elbullazul
I've also read somewhere that 3.20 is so 'advanced' that it's actually crippled. I don't get it.

[2016-06-20 20:45] cinnamoner commented on #8
@Elbullazul
Which of the themes are fully 3.18 compliant and which aren't? Or in layman's terms which of the themes are 'Sarah-ready' and which aren't?

[2016-06-20 20:53] Elbullazul commented on #8
@cinnamoner upgrading themes to 3.18 isn't hard, but seeing that @feren is working on the beta, I guess they'll work out of the box

[2016-06-20 21:05] cinnamoner commented on #8
@Elbullazul
Gtk this, gtk that. Higg's boson is piece of cake to me compared to gtk theory. I just want them to work flawlessly on Mint 18 Cinnamon. Simple as that.

[2016-06-20 21:18] ghost commented on #8
@cinnamoner @feren

3.16 to 3.18 is not that big chance. its possibly running nearly
errorless. Even 3.14 themes can be run on 3.18 after replacing some
things.
3.20 vs 3.18:
3.20 has clearer design nodes, but some tweaks are broken due to
that.3.20 is slower than 3.18. 3.20 prints less error messages, but
these make a bit more sense. Would say use 3.18 and 3.20 only if
necessary. its nearly unsta

[2016-06-20 21:18] cinnamoner commented on #8
@Elbullazul
No certitudes untill 18 final is released, I guess.

[2016-06-20 21:28] cinnamoner commented on #8
@bluedxca93
Thanks. I see it somewhat clearly now. I guess the gtk poeple should settle for a version once n for all. It seems like a never-ending experiment to me. See, this is exactly the kind of stuff that keeps poeple away from Linux.

[2016-06-20 21:34] Elbullazul commented on #8
@bluedxca93 @cinnamoner I have a base theme that is said works from 3.6 to 3.16

to make it work with 3.18 was a little bit hard to do, just because of the LACK OF DOCUMENTATION (big reason why we see a lot less themes these days, everyone waits for someone to release a "working" theme).

http://b00merang.weebly.com/update-to-gtk-318.html is the code I collected from other guys, it's still missing

[2016-06-20 22:10] cinnamoner commented on #8
https://www.youtube.com/watch?v=sC-37FLhvNE&app=desktop

[2016-06-20 22:20] cinnamoner commented on #8
https://www.youtube.com/watch?v=9k9Lc0RzZ5k

[2016-06-20 22:23] Elbullazul commented on #8
@cinnamoner we're killing all Windows-like theme development! :smile:

honeslty, the first guy says "Linux is not windows, keep it like that"

we're not trying to port windows to linux, we're making it look like Windows, because some people may enjoy how it looks, like to make pranks, etc etc.

the 2nd one looked like the guy trashed linux, so I didn't watch it

[2016-06-20 22:41] cinnamoner commented on #8
https://www.youtube.com/watch?v=zNoXovJv3w0&app=desktop

[2016-06-20 22:52] Elbullazul commented on #8
@cinnamoner well, that's plain trashing about makulu!

please, if you want to post videos, use the offtopic thread in the win10 repo, to keep some order in the other threads :)

[2016-06-20 22:57] cinnamoner commented on #8
I'll delete it.

http://www.zdnet.com/article/microsoft-and-canonical-partner-to-bring-ubuntu-to-windows-10/

[2016-06-20 23:00] Elbullazul commented on #8
@cinnamoner leave the links, just post the next ones on the thread I pointed out, please

[2016-06-20 23:16] cinnamoner commented on #8
3 branches
Debian: hard to make it functional
Ubuntu: functional but corporate at core
Arch: rolling n a pain

[2016-06-20 23:17] cinnamoner commented on #8
Can Mint survive without Ubuntu?

[2016-06-20 23:21] cinnamoner commented on #8
@Guys
I still love Linux. But the world is neither black nor white.

[2016-06-20 23:30] cinnamoner commented on #8
@Elbullazul
I'll move em over to off-topic or delete. Choose.

[2016-06-20 23:53] cinnamoner commented on #8
On Linux I feel free and in control. I also have the sensation that there's more oxygen in the air. Felt right  at home. No learning curve. It provides all the things I need. Yeah.

[2016-06-21 04:30] ghost commented on #8
@elbullazul use meld to compare. then you see that its not the.check
radio class itself but a new way of define image source.
background image becomes there gtk icon source if im not mistaken.
hope you can use the porting script to 3.20 from 3.18 soon.
ravefinity is thinking if he ports ambiance to 3.20 or not. if he does
all ambiance based themes could be ported much quicker.

[2016-06-21 06:37] dominichayesferen commented on #8
@Elbullazul Well, are you at least going to keep the repositories for the themes up and are going to finish Old Windows Basic first?

[2016-06-21 10:52] Elbullazul commented on #8
@feren yes I just felt the need to try something else yesterday.

So recap :
- [x] slate
- [ ] aero express
- [x] Plex
- [x] Jade

Something else?

[2016-06-21 15:24] dominichayesferen commented on #8
@Elbullazul
So, if that's so, are you REALLY killing theme development of this type? (PS: Your themes are awesome ones, also, Windows 10 is the one of the most popular themes for Cinnamon @ OmgUbuntu, so killing it might upset them)

Or were you just kidding (smiley face)??

[2016-06-21 15:51] Elbullazul commented on #8
@feren I was just kidding...

lesson learned: no more lame and scary jokes on official streams :wink:

[2016-06-21 16:03] dominichayesferen commented on #8
God thank you. :D
PS: Uses of Linux Windows emulation themes (in my opinion):
1. Reliving the memories of your favourite Operating System (Longhorn, in my case)
2. Pranking your friends (of course)
3. Ease of use

[2016-06-21 19:14] cinnamoner commented on #8
@Elbullazul
Sorry I've messed up the place. Let's do some clean-up.

[2016-06-22 15:58] dominichayesferen commented on #6
Plex Cinnamon is now here.

[2016-06-22 16:28] Elbullazul commented on #6
amazing work!

[2016-06-22 17:24] dominichayesferen commented on #6
Now for metacity... ;P
WIP:  ![screenshot from 2016-06-22 18-23-07](https://cloud.githubusercontent.com/assets/11057934/16276473/6c24c0a6-38a6-11e6-99e0-e9b894fefd57.png)

[2016-06-22 18:39] Elbullazul commented on #6
is it how it looks? or is it the royal variant?

plex looks so much like luna/royale at times...

[2016-06-22 19:20] dominichayesferen commented on #6
Everything but the window buttons are Plex, the window buttons are Royale... (Hence, WIP)

(It even has exact sizes to Luna/Royale Metacity Themes making doing it properly much easier...)
For reference, take a look at the image above of 4039

[2016-06-22 21:35] cinnamoner commented on #6
@feren
Like it.

[2016-06-23 15:28] dominichayesferen commented on #6
About to push Metacity to the repo...

PS: The current one WILL be overwritten (it has the wrong buttons for the theme)

[2016-06-23 15:32] dominichayesferen commented on #6
Is it done, now no more need to keep this issue open... Case Closed.

[2016-06-23 15:32] #6 closed

[2016-06-23 17:52] dominichayesferen commented on #8
Plex is now ready for GTK Mods

[2016-06-29 19:54] cinnamoner commented on #5
?!

[2016-06-29 20:04] cinnamoner commented on #8
@feren
I would really love Jade finalised. What holds you back? State your needs n maybe help will come .

[2016-06-29 20:15] cinnamoner commented on #8
Okay. Mint 18 final is a factor in it.

[2016-07-01 19:04] cinnamoner commented on #8
@Elbullazul
Well said. There should be a gtk.org containing full documentation. I don't even know who the gtk people  are.

[2016-07-02 18:26] ghost commented on #8
@elbullazul

http://news.softpedia.com/news/ubuntu-ambiance-theme-successfully-ported-to-gtk-3-20-radiance-to-follow-soon-505765.shtml

please read

On Fri, Jul 1, 2016 at 9:04 PM, cinnamoner notifications@github.com wrote:

[2016-07-03 02:43] Elbullazul commented on #8
the best out of ubuntu 16.10 may be it's name pun.

the rest smells like we're feeded the same old things over and over

unity 8 is still NOT ready and snaps STILL won't work in 16.10

[2016-07-03 06:53] cinnamoner commented on #8
@Elbullazul
Well said.

[2016-07-03 07:05] cinnamoner commented on #8
They should have extended the long term support for 14.04. Snaps is not ready and other things are not ready. I don't see the point in releasing something that is not quite there yet. That's why I've been enquiring on LMDE2 (Off-topic thread). There seems to be a generalized dissatisfaction with the new LTS. And well, Canonical's roadmap raises more questions than answers.

[2016-07-03 07:52] cinnamoner commented on #8
@Elbullazul
I keep wondering though. When 14.04 went live, had it similar issues or was a OK from the very beginning? I'm trying to figure out what the norm is.

[2016-07-03 07:59] dominichayesferen commented on #8
(afaik) It had similar issues on birth, especially upgrades...

[2016-07-03 08:30] cinnamoner commented on #8
@Elbullazul
I feel the need to point out that I don't oppose progress. Quite on the contrary. But testing was supposed  to be performed on 15.0x. Again, no point in releasing a thing that is unfinished /unstable/buggy and not full of meaningful featured, relative to the previous. Nothing more to add.

[2016-07-03 08:36] cinnamoner commented on #8
@feren
Thanks. Then I'll probably cross over in spring, 2017. Let's hope I won't see myself forced to do that though.

[2016-07-03 08:50] cinnamoner commented on #8
@Guys
I know that Mint is based on Ubuntu. I wonder wether they are likely to patch the shortcomings of 16.04 before they go final with 18.

[2016-07-03 09:12] cinnamoner commented on #8
@feren
I've gathered you favour Vivaldi for a browser. Does it support Vista?

[2016-07-03 09:19] cinnamoner commented on #8
@feren
Robolinux features Stealth VM. Do yo think there's any advatage over conventional VM on Linux. It's a paid distro, I know. With a rather poor marketing job.

[2016-07-03 09:25] cinnamoner commented on #8
@feren
Do you think I could have Cinnamon on HandyLinux. It's a French breed based on Debian Stable. Not every question is meant to be answered though.

[2016-07-03 09:29] cinnamoner commented on #8
@feren
I'll compare Solus itself with Budgie Remix. Let's see how it goes.

[2016-07-03 09:45] cinnamoner commented on #8
@Elbullazul
Have you noticed Moihack's endevor to achieve interoperability between Skype and Linphone? Wonder what happened with AnemOS.

[2016-07-03 10:30] feren commented on #8
@cinnamoner
As long as Chromium supports it, Vivaldi supports it...
Probably might work on HandyLinux, as long as you have repositories for LMDE2 on it??
Ubuntu 16.04 had a Software bug on release, that got fixed in a few weeks, come to 18 in a few weeks is what I'd say...

[2016-07-23 14:19] feren commented on #8
@cinnamoner
[Longhorn.Aero.Express.tar.gz](https://github.com/Elbullazul/Longhorn-Collaboration/files/379786/Longhorn.Aero.Express.tar.gz)

[2016-07-23 14:53] dominichayesferen commented on #5
Bug fixing progress:
![screenshot from 2016-07-23 14-53-07](https://cloud.githubusercontent.com/assets/11057934/17078521/3c9d0d82-50e5-11e6-93ff-13efe23f2130.png)

[2016-07-23 15:32] cinnamoner commented on #5
@feren
Bring it from from thread 49, W10 repo to righ here. Please and thank you!

[2016-07-23 15:59] cinnamoner commented on #5
@feren
Okay. Where's it?

[2016-07-23 16:33] cinnamoner commented on #5
I've already spent more hours on Git than Elbu himself.

[2016-07-23 16:35] cinnamoner commented on #5
It's in the zip then. I won't put all my cores into it.

[2016-07-23 16:39] dominichayesferen commented on #5
Ah oops, I put it on "Just chatting to each other (friends)"

[2016-07-23 18:10] cinnamoner commented on #5
I'm here.

[2016-07-23 18:11] cinnamoner commented on #5
@feren
I'm here.

[2016-07-23 18:21] cinnamoner commented on #5
@feren
Here I am

[2016-07-23 18:22] cinnamoner commented on #5
@feren
Tell me about Express.

[2016-07-23 18:24] cinnamoner commented on #5
@feren
No rush. I'll be having coffee. Just nice and slow

[2016-07-23 19:07] dominichayesferen commented on #5
It'll probably be updated tommorow to that one

Basically, Aero Express since day one has just been a version of Aero Microsoft planned along with Windows Longhorn, IE7, etc. It ended up being in the first released post-reset build using registry keys to modify the Aero mode DWM used to Express, also where the name comes from, and then it re-appeared in a later build (that I can't remember the bui

[2016-07-24 07:44] cinnamoner commented on #5
@feren
Thanks.

[2016-08-11 14:26] dominichayesferen commented on #7
@cinnamoner @Elbullazul
Making HUGE Progess on Metacity, here's a sneak preview of it so far: (It's the exact same titlebar height as Longhorn!)
![screenshot from 2016-08-11 15-26-09](https://cloud.githubusercontent.com/assets/11057934/17591891/a369f888-5fcf-11e6-8f21-f520ae79cbd6.png)

[2016-08-11 14:43] dominichayesferen commented on #7
Nearly there, just goanna now reboot into Windows to push this baby to the repository.

[2016-08-11 16:01] feren commented on #7
Ok, about to push Cinnamon's Windows Longhorn Slate theme to master, after that, your turn @Elbullazul (With the Slate GTK)...

[2016-08-11 16:19] dominichayesferen commented on #7
Slate is now complete with a Cinnamon and Metacity theme, personally, I'm prouder of the parts of this theme than of the parts of other themes that I made for Longhorn Collaboration (apart from Aero, that's still cooler)... :)

[2016-08-11 16:20] dominichayesferen commented on #7
...Your turn @Elbullazul to do GTK 2/3 Slate Themes. (After Windows 10 1.0.0)

[2016-08-12 12:53] cinnamoner commented on #8
@feren Sorry for the slow reaction. Are you telling me the right above we've got the the final Aero Express? I'm mobile right now and I don't have the appropriate extractor for it installed to check. But I'll check it when I'll get to the desktop. So?

[2016-08-13 19:52] cinnamoner commented on #7
@feren Yeah, absolutely, Slate is a cutie. Metacity looking good.🆒

[2016-08-13 20:56] cinnamoner opened #11 "Vista Media Player Edition"
@feren Yeah, I've been thinking about it for quite a while now.

[2016-08-13 21:46] cinnamoner commented on #11
![a939eb7a-2c16-11e6-9430-518b144c6cf6-2-1-1-1-1](https://cloud.githubusercontent.com/assets/15638605/17645780/f9285028-61b7-11e6-8e9f-79854ea75b5e.png)

[2016-08-13 21:52] cinnamoner commented on #11
![ac134d42-2cec-11e6-96ba-4bb0abb7da88-1](https://cloud.githubusercontent.com/assets/15638605/17645814/e7f67b6c-61b8-11e6-9bbb-9bf5a07fe119.png)

[2016-08-13 22:07] cinnamoner commented on #11
![a939eb7a-2c16-11e6-9430-518b144c6cf6-1-2](https://cloud.githubusercontent.com/assets/15638605/17645888/bf523fbe-61ba-11e6-8e4a-67ee08e7403e.png)

@feren Basically, I would like to replace the dark teal bar with this one and with these nav buttons and ...

[2016-08-13 22:11] cinnamoner commented on #11
@feren Please tell, can I get the assets from high-res screenshots?

[2016-08-13 22:24] cinnamoner commented on #11
@feren I would like those navs exactly as illustrated. In that pit and glowing up. Just some words of guidance, nothing more. Hmmm?

[2016-08-13 22:28] cinnamoner commented on #11
@feren The window border will be grey, not baby-blue (like in Express).

[2016-08-14 09:51] feren commented on #11
1. Yes, you can get hi-res assets from screenshots
2. Has @Elbullazul released Old Windows Basic? (He's the one making that theme)
3. Basic man, not Express, Windows Basic...

[2016-08-14 09:55] feren opened #12 "Old Windows Basic"
Could you possibly (at least) push the metacity part of Old Windows Basic to this repo (with a WIP name end if it's not done yet) so that one of us can then help finish it too?
@Elbullazul

[2016-08-14 10:04] dominichayesferen commented on #11
@cinnamoner
The last time Elbullazul tried pits in GTK, it failed.

[2016-08-14 13:20] cinnamoner commented on #11
@feren
1) Screenshots are typically 96 ppi. Not high enough for a quality print (at least 300 ppi), but monitors and printers work differently. 96 ppi looks swell on the monitor (pixel by pixel rendering). So, a 96 ppi screenshot is okay to pull assets from. At least that's how I see it. Hmmm?
2) Yeah, sure, he's making what you say he's making. I'm making a _"Media Player Edition"_. I've found no

[2016-08-14 13:41] cinnamoner commented on #11
@Elbullazul When you've got a little time, open up MP and tell me whether those nav button embedded in that pit are possible or not. Try to navigate forth and back (I want em glow as well).

[2016-08-14 13:46] dominichayesferen commented on #11
@cinnamoner
1. Just to let you know:
Express = The non-transparent version of Aero that eventually got given the name 'Standard' in Vista/7 Home Basic
Basic = No DWM at all on Windows Vista/7
2. _WMP Edition_?
3. Yep, I'd guess so about WMP Screenies (PS: If you have Vista, you can always scale up the DPI and/or Enable Large Text)

[2016-08-14 13:53] cinnamoner commented on #11
@feren Thanks. The only unsettling issue is the nav buttons in the pit.

[2016-08-15 20:08] cinnamoner commented on #12
@feren Elbullazul is on a well-deserved vacation. No worries, he'll be back.

[2016-08-16 20:47] feren commented on #8
@cinnamoner
No, that's just (If I remember correctly) a Vista Aero mod to look like the Aero Express of Windows Vista BETA 2 Builds...

[2016-08-17 06:34] ghost commented on #8
@feren do you have windowblinds installed?

I plan soon next days to merge all meaningfull current ambiance/t
changes to my ambiance fork on github.They seem to have maked some.
Don't plan to import the bugs tough. iainlane is too proud of his code
and raveit from mate makes his own version too. however i trust raveit
more.

[2016-08-17 06:36] bluedxca93 commented on #8
@cinnamoner ambiant aero is based on ambiance, so without a working
code base no luck to get it working on 16.10

[2016-08-17 13:38] cinnamoner commented on #8
Yeah, I know. Unpaked it and looked into it. Hey, thanks.

[2016-08-17 13:42] cinnamoner commented on #8
@feren Have you ever though about scavenging some good things out of Lindoz 11? Or out of Lindoz 12 (the Deb Ed under heavy development)? Hmmm?

[2016-08-17 13:49] cinnamoner commented on #8
I only need 2 themes. Possibly 3. 10, Vista. I'm not sure about the third theme. It can be anything. Let's see how things will unfold.

[2016-08-17 14:19] cinnamoner commented on #8
Okay. 4 themes. Just for a comfortable margin. Distros M18 Cinnamon,  Manjaro Cinnamon 16.06.01.
Antergos and Apricity are too bleeding-edge for my taste but Apricity surely has some awesome wallpapers.

@bluedxca93
Hey, yes, what about this KDE distro. Looks good to me. Haven't given it a ride yet though,  but I might.
https://distrowatch.com/table.php?distribution=blackpanther

[2016-08-17 14:26] dominichayesferen commented on #8
@bluedxca93 I did try to apply a theme recently but it broke down Win10 AU so taking a bit of a break from WindowBlinds, also, there's already Ubuntu 11 which in itself is quite a good Ubuntu WindowBlinds theme though... (I'll probably replace WindowBlinds for Customatic once that reaches Stable) Also, for reference, here's what the broken down AU did to my window buttons in DWM (which is probably

[2016-08-17 15:33] cinnamoner commented on #8
@feren
@bluedxca93
Life isn't eternal. Perhaps one should concentrate on a single theme. Take your pick. If I were to choose 1 of them all, I would go for 10.

Now, a short word about the 18-20 conversation script. It reminds me of my attempts to convert VB6 to .Net. Man, that was more of a headache than anything else.

The 18-20 script has been a subject for a while now. @bluedxca93 Do you think

[2016-08-17 15:59] cinnamoner commented on #8
@feren I've only checked in today because you seemed to miss my presence.
😄⌛

[2016-08-17 16:57] feren commented on #8
@cinnamoner That's why you do whatever you want in your own timeframe... ._.

Your just missing one thing: ( ͡° ͜ʖ ͡°)

[2016-08-17 17:12] cinnamoner commented on #11
@Elbullazul
@feren
@bluedxca93
I guess I'm on my own on this one. I only need help/guidance with the nav buttons in the pit. How is that accomplishable? If at all.

[2016-08-17 17:12] bluedxca93 commented on #8
@cinnamoner it is better than your attempt even now. Why?
Its the same plattform and the same layout.
Main Problem is that there simply isn't any reference for the classes.
And my  current approach is limited. It does just replace.
We would need to make a more intelligent css syntax aware application.
There isn't any usable standalone gtk css parser. Yes it works already
flawlessly enough to port

[2016-08-17 17:21] cinnamoner commented on #8
@bluedxca93
Thanks. That's encouraging.

@feren I wonder why both Linux and Sex end with x. You're right. More Sex, less Linux is a better approach. I'll call her right away. Thanks for the tip.😆

[2016-08-17 17:24] feren commented on #8
@cinnamoner
That just sounds so wrong, here's your reward... (*It's meant to distract you from talking about something really inappropriate for this discussion that poor @Elbullazul might then be thinking WTF is wrong with you when he sees what you put*)
https://www.youtube.com/watch?v=JxtpKo2rvos

[2016-08-17 17:40] dominichayesferen commented on #11
@cinnamoner I'd guess the only way (right now) to do it would to be either add pits to the toolbar BG itself, or make an icon set edit with half-pits on both back icons and forward icons...

[2016-08-17 17:42] Elbullazul commented on #11
The icon option I'd say would be the easiest

[2016-08-17 17:45] Elbullazul commented on #8
Someone please remove the last two comments...

*facepalm*

[2016-08-17 17:46] feren commented on #8
@Elbullazul IKR?

[2016-08-17 18:34] cinnamoner commented on #8
@Elbullazul
Was it inappropriate? My bad.

[2016-08-17 18:36] cinnamoner commented on #8
Censorship. @feren You limited free expression. Don't delete instead of me, deal?

[2016-08-17 18:37] cinnamoner commented on #8
No sex today.

[2016-08-17 18:38] feren commented on #8
@cinnamoner
Gawd damn yeah it was... (O_o) (No offense to you or anything)

Actually, I didn't limit it, I just found the comment a bit, well, too NSFTD at first, also, I only deleted it for him WHEN HE ASKED SOMEONE TO.

[2016-08-17 18:44] cinnamoner commented on #11
@Elbullazul Thanks.

[2016-08-17 18:45] cinnamoner commented on #11
By the way, she's not in mood for SEX.

[2016-08-17 18:56] cinnamoner commented on #8
Do you think that is appropriate language?  It seems bad language to me.

[2016-08-17 18:58] cinnamoner commented on #8
@Elbullazul Relax.

[2016-08-17 19:04] Elbullazul commented on #8
@cinnamoner I think it's appropriate that I refresh your memory about the seriousness of this project and of this platform.

Free speech is something. Appropriate content is another.

[2016-08-17 19:15] ghost commented on #8
:lol:
well i did now check my ambiance fork against official.
compare with ambiant soon.Then i do release aero for 16.10 again.

do have some few design changes to optimize it for cinnamon, rest is the same.

[2016-08-17 22:09] cinnamoner commented on #8
@Elbullazul That's what I wanted and needed to hear from you.

@Elbullazul I fully agree. As a matter of fact your statement is at the very core of my view on how democracy should work.

[2016-08-17 22:22] cinnamoner commented on #8
@feren Whenever it says _edited_, it means one rectified something that happened in the past. No need for further comments.

[2016-08-17 22:55] cinnamoner commented on #8
@Elbullazul
I'm only interested in the project. Your absence, although well-justified and certainly the natural course of events, hasn't had a positive effect on me. From this moment forward you will only get posts that are beneficial to the project. No more sidetalk whatsoever.

[2016-08-17 23:13] cinnamoner commented on #11
@feren Okay, I'll try to do it that way. Thanks.

[2016-08-18 08:11] dominichayesferen commented on #11
Going offline temporarily, back in a few...

[2016-08-18 11:26] ghost commented on #8
@feren @elbullazul
my Ambiance fork has been updated.
aero i do reupload once ive made progress(some things missing atm ,
core features work already).

[2016-08-18 16:39] dominichayesferen commented on #11
Ok, back now

[2016-08-18 16:44] Elbullazul commented on #8
Have you fixed the notebook issue in ambiance?

[2016-08-18 17:16] ghost commented on #8
@elbullazul
maybe it works on gtk 3.20 . just test.

[2016-08-18 19:06] bluedxca93 commented on #8
@elbullazul @feren @cinnamoner

i did now manage to get somehow aero working on 3.20 using the newest
codebase from ambiance currently available. Please test my ambiance
fork, and hopefully tommorow i do release ambiance-aero for 3.20 .
Its a newer aproach than the last one. bugs please report as separate issues.

[2016-08-18 20:48] cinnamoner commented on #11
@feren Power outage? Get yourself a generator. UPS and a generator should do.

[2016-08-19 07:52] bluedxca93 commented on #8
@elbullazul @feren @cinnamoner
ambiance and aero now on github on my account for 3.20.
please send me some screenshots if possible.

[2016-08-19 08:38] dominichayesferen commented on #11
@cinnamoner
No, deliberate power outage, we were getting electrics connected to a new portion of the house... (So yeah, no internet whilst that was going on)

[2016-08-21 22:26] #11 closed

[2016-09-22 18:14] #12 closed

[2016-09-26 17:39] Elbullazul commented on #8
@feren finally got stark running like it should! other tweaks to the panel and menu applets...
![screenshot_2016-09-26_13-34-19](https://cloud.githubusercontent.com/assets/15310985/18845181/9b33e65e-83ee-11e6-9172-79147374eefa.png)

[2016-09-26 19:12] dominichayesferen commented on #8
Well, THIS IS GOANNA BE INCREDIBLE!

[2016-09-26 19:30] feren opened #13 "Jade Problems"
1. Firstly, there's no more transparent start button logo for the Jade theme now on the (non-customisable Start Button) theme
2. Right now, inactive windows now have black text unlike beforehand on Window List which looks kinda bad
3. Could you do an Arc with the GTK and make the window buttons in Headerbars copies of the images for the titlebars?
4. Other than that, looks really slick, great job!

[2016-09-26 23:16] cinnamoner commented on #8
@Elbullazul Looks very cool. I can't stand that chatroom. But I can't oppose your will. Time has come for me to stick with the real issues.

[2016-09-27 00:04] Elbullazul commented on #8
@cinnamoner or you could setup a quick forum for general discussion

or better still, maybe @feren can setup a private chatroom on his forum?

[2016-09-27 00:14] Elbullazul commented on #13
button: fixed, coming soon...

can't reproduce the 2nd one, can you try to fix it yourself first?

[2016-09-27 06:50] dominichayesferen commented on #13
@Elbullazul 2nd one is in the picture

[2016-09-27 11:55] Elbullazul commented on #13
yes, but I don't get black text on my system

can you check the window-list class and see if there's any black? on my copy I don't

[2016-09-27 16:24] dominichayesferen commented on #13
@Elbullazul I'll look later
Do you want to do that suggestion for the headerbar buttons to make it look more consistent?

[2016-09-27 17:18] Elbullazul commented on #13
I will, but I need to make it work for 3.18 first

[2016-09-27 19:17] cinnamoner commented on #8
@feren Yeah, it's pretty unique. Looks better than Vista, I've gotta admit it.
@Elbullazul I'll open a Discuss or I'll think of something. But no Gitter, thanks. I'll let Michael have it, no offense intended.
***
Jade: logout/lockscreen/shutdown doesn't look good yet. Nor those round nav things. Other than that shaping up nicely. I don't recall how the real thing looks like. Feren was right; this

[2016-09-27 20:05] cinnamoner commented on #13
It has taken some time but that's wat I wanted. Order. Hahaha.

[2016-09-28 06:48] dominichayesferen commented on #13
You're right, doesn't happen on Stable

[2016-09-28 17:31] Elbullazul commented on #13
[Windows Longhorn Jade.tar.gz](https://github.com/Elbullazul/Longhorn-Collaboration/files/498843/Windows.Longhorn.Jade.tar.gz)
3.18 compatible file. Will update the repo later, I'm on a VM

[2016-09-28 17:39] Elbullazul commented on #13
![virtualbox_linux mint 18_28_09_2016_13_38_40](https://cloud.githubusercontent.com/assets/15310985/18925179/da848320-8580-11e6-84b4-53dff69e0e1e.png)

[2016-09-28 18:25] dominichayesferen commented on #13
What happened to the perfectly working start-here image on CSB?

[2016-09-28 18:58] Elbullazul commented on #13
I'm on a VM, so I don't have the latest version (?)

I was focusing on GTK, not cinnamon

[2016-09-28 19:10] Elbullazul commented on #8
@cinnamoner
![virtualbox_linux mint 18_28_09_2016_13_38_40](https://cloud.githubusercontent.com/assets/15310985/18925179/da848320-8580-11e6-84b4-53dff69e0e1e.png)

[2016-09-28 19:30] ghost commented on #8
Wow.
je vois directement que c' est linux mint. Mais comment a ete cree le
theme de metacity? Ce look totalement différent du windows que nous
connaissons tous est formidable , quand meme qc un peu plus comme le
grand versionnes de ce système d exploitation serait encore plus
utilisable.

just always english is boring.
well the toolbar buttons could be modifyied a bit to match primary
toolbar grad

[2016-09-28 19:57] dominichayesferen commented on #8
@Elbullazul I have some ideas for Nemo in Jade:
1. Get some code off of @bluedxca93 's Ambiant Aero which makes the Back button wider than forwards (goes with the icon set better)
2. Then, make the button textures invisible in focused and unfocused states
3. **Then, ask me (if you want them)** and I'll give you the back button states from Jade from Longhorn 4074 TWIWMTB which contains back button

[2016-09-28 19:58] dominichayesferen commented on #13
@Elbullazul Oh ok, any progress on the Headerbar (Arc-like) use of images only for titlebar buttons in headerbars?

[2016-09-28 22:01] Elbullazul commented on #8
@feren seems ok with me

@cinnamoner have you checked our private forum?

[2016-09-29 06:40] dominichayesferen commented on #8
@Elbullazul Ok then, I'll send it later on...

[2016-09-29 14:22] Elbullazul commented on #8
![screenshot_2016-09-29_10-20-46](https://cloud.githubusercontent.com/assets/15310985/18957817/850ea78c-862e-11e6-8ad2-d64c2224eb32.png)

[2016-09-29 15:18] dominichayesferen commented on #8
Ok, here you go! Straight from my Longhorn Resources Folder:
(I think it's in this order anyway)
Hover:
![bitmap_11](https://cloud.githubusercontent.com/assets/11057934/18960050/3eb64e3e-8660-11e6-91c3-04bb3ba6cba1.png)
Focused:
![bitmap_12](https://cloud.githubusercontent.com/assets/11057934/18960058/449c4d9e-8660-11e6-89c1-888c600b912f.png)
Pressed:
![bitmap_13](https://cloud.githubusercontent.c

[2016-09-29 15:23] dominichayesferen commented on #8
You know what, even better one for the gradients: ( @Elbullazul )
Hover:
![bitmap_69](https://cloud.githubusercontent.com/assets/11057934/18960230/f6ee9498-8660-11e6-8b7f-98d3976afbfd.png)
Pressed:
![bitmap_70](https://cloud.githubusercontent.com/assets/11057934/18960240/fe145b2c-8660-11e6-8d3c-277a7bc25eea.png)
Focused:
![bitmap_71](https://cloud.githubusercontent.com/assets/11057934/18960253/04d

[2016-09-29 22:12] cinnamoner commented on #8
@Elbullazul Please provide a link to it so I don't have to search around. Thanks.

[2016-09-29 22:20] cinnamoner commented on #8
@Elbullazul The view buttons in the latest screenshot don't look as good as in the previous.

[2016-09-29 22:23] cinnamoner commented on #8
@bluedxca93 What's wrong with you? You're practicing French on us? :)

[2016-09-29 23:05] Elbullazul commented on #8
@cinnamoner http://b00merang.weebly.com/forum.html

[2016-09-30 01:31] bluedxca93 commented on #8
@cinnamoner yes i did and why?
 cause always english gets boring. im posting tomorrow or today some
of the images as css gradient.

[2016-09-30 12:25] Elbullazul commented on #8
@bluedxca93 that could be interesting

[2016-09-30 14:33] Elbullazul commented on #13
header-bar fixed as shown below:
![](https://cloud.githubusercontent.com/assets/15310985/18957817/850ea78c-862e-11e6-8ad2-d64c2224eb32.png)

Jade almost ready, just need to fix the .popup .menuitem class background and the toolbar buttons with the new gradient and Jade is ready for release! :D

[2016-09-30 15:22] dominichayesferen commented on #13
@Elbullazul Just remember the left/right edge gradients too. ;)

[2016-09-30 15:36] Elbullazul commented on #13
yeah, found the code in @bluedxca93's code for the arrow items

[2016-09-30 15:49] dominichayesferen commented on #13
@Elbullazul Ok, that combined with the icon set with newer back and forward scalables will look freaking neat as hell! :D

[2016-09-30 15:52] cinnamoner commented on #8
@Elbullazul Thanks for the link. That would have been my first guess :)
@bluedxca93 Hold your horses brother, it's just me and my big mouth. I applogize for the inadequacy of my question. French, English ... please do post in any language you like. Excusez-moi, s'il vous plait.

[2016-09-30 16:07] cinnamoner commented on #13
@feren Absolutely gorgeous little theme, I agree.

[2016-09-30 16:14] cinnamoner commented on #13
@Elbullazul Perhaps a different zoom slider, this time round, hmmm?

[2016-09-30 16:24] dominichayesferen commented on #13
New icons are coming your way guys
Navigation ones mostly

[2016-09-30 16:24] dominichayesferen commented on #8
@Elbullazul Here's some more resources for Jade: **(I recommend using the smallest of them all)**
Checkboxes:
![bitmap_1](https://cloud.githubusercontent.com/assets/11057934/18998410/87dfcbd2-8730-11e6-9709-b4f2fde474dd.png)
![bitmap_2](https://cloud.githubusercontent.com/assets/11057934/18998414/87e3bd32-8730-11e6-97cd-81d338f316d7.png)
![bitmap_3](https://cloud.githubusercontent.com/assets/11057

[2016-09-30 16:58] Elbullazul commented on #13
@cinnamoner suggestions?

[2016-09-30 17:40] feren commented on #13
@Elbullazul The slider of Jade (tommorow)

[2016-09-30 17:50] dominichayesferen commented on #8
@Elbullazul Icon set now gives you proper back/forward buttons, will look into the missing search icon later though

[2016-09-30 18:15] Elbullazul commented on #8
@feren it's a symbolic icon. I think it's called find-location-symbolic.svg

[2016-09-30 19:37] dominichayesferen commented on #8
@Elbullazul Could you post a screenshot of what it now looks like with the new icons and gradients??

[2016-09-30 21:03] Elbullazul commented on #8
![screenshot_2016-09-30_16-22-05](https://cloud.githubusercontent.com/assets/15310985/19005729/14c85e1c-872a-11e6-9c17-04ba4dee1b45.png)

[2016-10-01 10:15] dominichayesferen commented on #8
Oops, I think I accidentely undid the headerbars on Jade GTK trying to change those icons... :/
(Have a backup with the new headerbars that I'll merge later)

[2016-10-01 13:29] dominichayesferen commented on #8
Here's the sliders @Elbullazul :
![bitmap_256](https://cloud.githubusercontent.com/assets/11057934/19014386/2127ac06-87db-11e6-9010-3f2fc2a84213.png)
![bitmap_257](https://cloud.githubusercontent.com/assets/11057934/19014387/213d0628-87db-11e6-9815-14a8a7a3222b.png)
![bitmap_258](https://cloud.githubusercontent.com/assets/11057934/19014388/21504954-87db-11e6-8930-f846ed74b59f.png)
![bitmap_259](ht

[2016-10-01 13:37] dominichayesferen commented on #8
@Elbullazul Proper Buttons:
![bitmap_211](https://cloud.githubusercontent.com/assets/11057934/19014409/7e1697ec-87db-11e6-8a75-39bebc12d640.png)
Progress Bars:
![bitmap_147](https://cloud.githubusercontent.com/assets/11057934/19014432/1a72ae78-87dc-11e6-9e83-2ac4e8876885.png)
![bitmap_149](https://cloud.githubusercontent.com/assets/11057934/19014433/1a7516ae-87dc-11e6-9832-0700851bc6ea.png)
Side-P

[2016-10-01 14:12] ghost commented on #8
Do you have the png2css script from https://www.gnome-look.org/p/1111245/?

Might help, crop the borders with gimp.
it works from top to bottom.

On Sat, Oct 1, 2016 at 3:37 PM, feren notifications@github.com wrote:

[2016-10-01 16:26] dominichayesferen commented on #8
Update: Oops, the backup was replaced with the old one... :/

[2016-10-01 16:37] dominichayesferen commented on #8
@Elbullazul When's the push goanna be?

[2016-10-01 17:09] cinnamoner commented on #13
@Elbullazul @feren I don't really know how the slider in the original looks like, but methinks one should try emulating the original as closely as possible. I'll look into it. Jade is important to me so I'll study it thoroughly and feed some suggestions. My first one: like W10, Jade should be complemented with an icon pack of its own but I guess that one is already comming. This Windows is truly a

[2016-10-01 17:15] dominichayesferen commented on #13
It looks like the resources on this:
https://github.com/Elbullazul/Longhorn-Collaboration/issues/8

[2016-10-01 17:29] cinnamoner commented on #13
@feren I really want this theme (Jade) to be a masterpiece. The best of them all.

[2016-10-01 17:41] cinnamoner commented on #8
@feren Really good looking assets to choose from. Never assumed I would be enthused again.

[2016-10-01 18:08] cinnamoner commented on #8
@feren Could you show a File Explorer from the real Jade?

[2016-10-01 18:22] dominichayesferen commented on #8
Ok, pretty much just this:
![image](https://cloud.githubusercontent.com/assets/11057934/19016245/677ebe5c-880c-11e6-9460-b151a60db172.png)

[2016-10-01 18:37] cinnamoner commented on #8
@feren Looks like a proto Vista. The slider is vertical just like in Vista but at the bottom. Interesting.
Wonder why they called it Jade. Have my theory but not sure.

[2016-10-01 18:40] cinnamoner commented on #8
@Elbullazul Can you do the navigation pit?

[2016-10-01 18:45] dominichayesferen commented on #8
@cinnamoner Jade has three sides to it:
1. Aero pre-reset
2. The equivalent of pre-reset Windows Basic (above screenshot)
3. One that just looks like Basic but with Slate's sidebar skin (default Longhorn look)

[2016-10-01 18:45] dominichayesferen commented on #8
@cinnamoner Last time he tried the navigation pit, it failed.

[2016-10-01 18:46] cinnamoner commented on #8
Or no slider? I can see some arrows though. Don't know what happens when one's clicks on in.

[2016-10-01 18:48] dominichayesferen commented on #8
@cinnamoner
1. View activates a slider
2. The address bar is in breadcrumbs so basically what you get in Windows 10...
3. The 'i' basically switches between that Aurora view and the one with info about either the folder of the selected file (refer to Windows Vista/7's Details Pane for what I mean)

[2016-10-01 18:48] cinnamoner commented on #8
Then forget about the pits. Not all that important.

[2016-10-01 18:57] cinnamoner commented on #8
@feren So the view activated vertical slide is just like in Vista. Good concept. I don't thing it's feasible in Cinnamon.

[2016-10-01 19:00] dominichayesferen commented on #8
@cinnamoner Yup, same thing but with different icons and no text...

[2016-10-01 19:35] cinnamoner commented on #8
@feren @bluedxca93 @Elbullazul

This is a sci-fi, crazy, ridiculous, farfetched ... you name it idea but don't tell me you never thought about emulating Win on Linux by writing a DE from scratch. It's the only way to make it undestiguishable from the original. It's just a wild idea but I'm sure I'm not the only head it occurred in.

[2016-10-01 19:51] ghost commented on #8
already existed in past.

xpde, qvwm
qvwm broke with kde4.

qvwm was a great wm i used very often. now im using pekwm + panel.

xpde was never stable.emulated xp look.

[2016-10-01 20:04] cinnamoner commented on #8
@bluedxca93 Thanks. I was dreaming with eyes open.

[2016-10-01 20:18] cinnamoner commented on #8
This is off and will be erased but some time ago I notified Niko about Cinnamon Tools. He's into them now. I wonder. Did I make it happen or it would have anyways.
This is off too but I've seen Michael T. on the Antergos page.

[2016-10-02 00:57] Elbullazul commented on #8
@cinnamoner pits can be achieved, I think I can write code now that I know the precise class for ONLY the directional buttons in nemo

[2016-10-02 01:51] Elbullazul commented on #6
![screenshot_2016-10-01_21-49-56](https://cloud.githubusercontent.com/assets/15310985/19018040/28711074-8821-11e6-8cbe-0df3d902baf7.png)

[2016-10-02 09:29] dominichayesferen commented on #6
@Elbullazul You may want to fix up the gradient on the headers on non-CSD apps a bit...

[2016-10-02 09:32] dominichayesferen commented on #8
Can you push the current progress on GitHub? @Elbullazul

[2016-10-02 11:31] dominichayesferen commented on #8
@Elbullazul I've uploaded the missing icon!
Also, thinking about it, can you possibly make **ALL NEMO TOOLBAR BUTTONS** wide too like back is in Nemo??

[2016-10-02 11:38] dominichayesferen commented on #13
@Elbullazul About the Jade theme
1. The maximize/restore button has no hover or pressed image(s) on headerbars
2. You may want to implement the resources (the smallest sizes if possible) from https://github.com/Elbullazul/Longhorn-Collaboration/issues/8#issuecomment-250912562 and https://github.com/Elbullazul/Longhorn-Collaboration/issues/8#issuecomment-250789086
3. Also, if possible, MAKE ALL THE

[2016-10-02 12:23] feren commented on #8
Nice! Got the hang of Git!!

[2016-10-02 12:39] dominichayesferen commented on #8
The New Icons are here!!

[2016-10-02 17:18] Elbullazul commented on #6
like what apps?

[2016-10-02 17:18] Elbullazul commented on #13
you mean longer on the sides?

[2016-10-02 18:21] dominichayesferen commented on #6
Cinnamon Settings

[2016-10-02 18:21] dominichayesferen commented on #13
I mean making the width longer...

[2016-10-02 18:30] Elbullazul commented on #6
haven't pushed changes yet

[2016-10-02 18:53] dominichayesferen commented on #6
@Elbullazul Did you get the resources for Jade all right?

[2016-10-02 22:41] Elbullazul commented on #6
can't find the picture now :/

please repost in the #13 thread

thanks

[2016-10-02 23:20] cinnamoner commented on #8
@Elbullazul Good. The wow stars pretty soon.

[2016-10-03 06:37] dominichayesferen commented on #13
@Elbullazul
https://github.com/Elbullazul/Longhorn-Collaboration/issues/8#issuecomment-250912894
https://github.com/Elbullazul/Longhorn-Collaboration/issues/8#issuecomment-250912562
https://github.com/Elbullazul/Longhorn-Collaboration/issues/8#issuecomment-250789086

[2016-10-03 11:55] Elbullazul commented on #8
@cinnamoner here's the code just for fun: https://github.com/bluedxca93/aero-experimental/blob/master/gtk-3.0/gtk-widgets.css#L2049-L2118

[2016-10-03 16:08] dominichayesferen commented on #8
A new era is beginning.
https://github.com/feren/Zuro-UI
https://github.com/feren/lightdm-zuroui-greeter
http://ferenos.weebly.com/help-make-zuro-ui-reality.html

[2016-10-03 16:10] Elbullazul commented on #8
you know you can "theme" MDM to look like you want instead of forking lightdm?

[2016-10-03 16:11] dominichayesferen commented on #8
@Elbullazul Yeah, it's just that forking gives us more options, such as auto-dark text, the ability to use the user's background, the ability to change some things on the fly, etc, etc.

Also, it's not a LightDM fork, it's a greeter

[2016-10-03 17:19] ghost commented on #8
great.
can you provide a screenshot of it? cool greeter idea.
tommorow im hoping to be able to make some updates.

[2016-10-03 17:20] bluedxca93 commented on #8
great.
can you provide a screenshot of it? cool greeter idea.
tommorow i hope to be able to make some updates.

[2016-10-03 17:40] dominichayesferen commented on #8
@bluedxca93
Firstly, right now, it's a mockup of the greeter and I'm waiting for help to make the greeter (same with the DE)
Secondly, you posted that twice by accident... :/

[2016-10-03 18:11] Elbullazul commented on #8
![screenshot_2016-10-03_14-10-07](https://cloud.githubusercontent.com/assets/15310985/19048167/2a4eca6e-8973-11e6-86d6-13e414ce9198.png)

[2016-10-03 18:20] ghost commented on #8
which gtk3 version is that?

[2016-10-03 18:24] dominichayesferen commented on #8
@Elbullazul Neat. Also, what's with the weird line on the buttons non-CSD?

Also, little tip, just use GTK Inspector on Widget Factory, it's much quicker than changing the GTK theme

[2016-10-03 18:46] cinnamoner commented on #8
@Elbullazul I'm no coder. I'm good in my own domain. Today I was beholding Vista. Both. Please understand: you've gotta have both installed. No, I won't post no Vista real screenshots. I can use that time to make the theme better. But I don't have any time, please understand.

[2016-10-03 18:49] cinnamoner commented on #8
@bluedxca93 As far as I know the latest Gtk from Gnome is 3.22. I don't give a damn about gtk. I just want good themes.

[2016-10-03 19:29] Elbullazul commented on #8
@bluedxca93 it's 3.18.something

@cinnamoner I'm taking longer breaks now, so vista is kind of (very) dormant

@feren haven't fixed gradients still

[2016-10-03 20:36] dominichayesferen commented on #8
@bluedxca93 Well, we're not actually the only ones sick of GNOME breaking things, Ikey Dorherky (Founder of Solus Project, I think that's how you spell it) expressed his disgust over it always breaking Budgie among other things in a rant on G+...

[2016-10-03 20:42] Elbullazul commented on #8
![screenshot_2016-10-03_16-40-24](https://cloud.githubusercontent.com/assets/15310985/19053312/6761c748-8988-11e6-8a14-514293f66a7e.png)

[2016-10-03 20:44] dominichayesferen commented on #8
@Elbullazul , NO WAY! It's beautiful!

Things to do with the GTK:
1. Add the gradients on the Nemo buttons like in Jade (they share the same type of hover with each other in Longhorn)
2. Make the sidebar white with orange highlight from the menu highlight colour

[2016-10-03 20:46] dominichayesferen commented on #8
@Elbullazul Also, one thing to do to Jade:
1. Make the sidebar fully white and the text the colour of the titlebar text, then keep the hover as the light-blue colour of highlights (it's that colour in Jade)

[2016-10-03 20:56] dominichayesferen commented on #8
...anyways, see you guys tommorow!

[2016-10-03 21:25] cinnamoner commented on #8
@Elbullazul I was looking at the original just some hours ago. No way, that one is really hard to come close. So I appreciate your effort but let it be dormant.

[2016-10-03 21:25] Elbullazul commented on #8
@feren do you have plex resources, or an ISO i could get them from?

[2016-10-03 21:29] cinnamoner commented on #8
@feren _For a very very long time I hadn't used to know what Gnome was. But now I do. Makes me sick._

[2016-10-03 21:37] cinnamoner commented on #8
@Elbullazul Plex looks good. The only things not coming together yet are the nav/view butttons.

[2016-10-03 21:44] cinnamoner commented on #8
@Elbullazul Live a healthy life. Just 10 would have sufficed. My democratic opinion if it's worth a damn thing. Probably not.

[2016-10-03 21:48] cinnamoner commented on #8
All in all, I don't regret spending time with the project and you @Elbullazul are one amazing fellow.

[2016-10-04 11:50] cinnamoner commented on #8
@Elbullazul May I ask a question?

[2016-10-04 12:42] Elbullazul commented on #8
go ahead

[2016-10-04 14:28] cinnamoner commented on #8
@Elbullazul We've got a number of problems regarding mouse hover over icons. Could we possibly work together and solve them? Also, when was the last time you booted into Windows?

[2016-10-04 14:35] cinnamoner commented on #8
Perhaps it's worth mentioning that I'm abandoning Mint. That is not Firefox they've got into their iso, it's their own crippled version of it. And other things ... not only is that distro vulnerable but ... man, installing and updating takes longer than Windows. So, it's either Apricity or Antergos. Those will be the test platforms.

[2016-10-04 14:37] cinnamoner commented on #8
So?

[2016-10-04 14:46] cinnamoner commented on #8
@feren So, Zuro is a fork of Cinnamon or something. Seen you forking it. Does it actually works at is it some alpha. Is there a distro featuring it?

[2016-10-04 14:57] Elbullazul commented on #8
zuro is a project that's just starting...

I have tons of win VMs, so it's not like I don't know windows ;)

[2016-10-04 14:58] dominichayesferen commented on #8
@cinnamoner Right now, it's just simply Cinnamon, soon it'll turn into the desktop of feren OS's future as time goes on...

[2016-10-04 15:04] cinnamoner commented on #8
@Elbullazul So you admit the thing we're talking about is not like in Windows. These are Win themes. If they fail on such an elementary issue, then how can we claim that they emulate Windows kinda?

[2016-10-04 15:08] dominichayesferen commented on #8
@cinnamoner It'll still be themeable hopefully, just that they'll be a clock on the top of the screen with a notification screen toggle button on it

[2016-10-04 15:09] dominichayesferen commented on #8
Also, might move to Debian in the Zuro UI ages...

[2016-10-04 15:09] cinnamoner commented on #8
@Elbullazul Yet another thing. Do you understand what I mean by hover-ghost effect? That is a futile complication. The question is whether you understand what I'm talking about.

[2016-10-04 15:11] cinnamoner commented on #8
@feren Thanks for the answers on Zuro but I can't afford anything beyond the here and now.

[2016-10-04 15:15] cinnamoner commented on #8
@Elbullazul Make no mistake about it. The theme only needs a number of issues sorted out. Other than that is cool. But you made it overly complex and hence pretty darn hard to service.

[2016-10-04 15:21] cinnamoner commented on #8
Man, I'm not trying to go into futile arguments. I'm peaceful. Just want the theme right.

[2016-10-04 15:24] cinnamoner commented on #8
When one hovers it's gotta be like in Windows. Can you do it? @Elbullazul

[2016-10-04 15:43] dominichayesferen commented on #8
@cinnamoner Dunno about that, it's not like it's elementary OS's file manager with that type of selection box... (Not really sure if it's possible, maybe just go ghost line instead)

[2016-10-04 16:41] Elbullazul commented on #8
@feren can you give me a plex-working longhorn iso URL please?

or post the check/radioboxes in plex, whichever is more convenient

@cinnamoner can you talk about the hover bug in the corresponding thread please?

[2016-10-04 18:02] dominichayesferen commented on #8
@cinnamoner KDE Neon has been updated to Plasma 5.8 LTS! http://www.omgubuntu.co.uk/2016/10/kde-plasma-5-8-lts-released

@Elbullazul Just be prepared for 5 minute boot-ups and a really slow explorer with this one: https://winworldpc.com/download/425E870A-18DA-11E4-99E5-7054D21A8599
Once in, navigate to C:\Windows\Resources\Themes\Plex and then copy Plex.msstyles onto the host machine (email it or

[2016-10-04 19:09] cinnamoner commented on #8
Neon plasma 5.8 LTS is final. You're kidding right? Can't be that soon.

[2016-10-04 19:17] Elbullazul commented on #8
it just means it's stable enough to "release it for general use"

[2016-10-04 19:44] cinnamoner commented on #8
The user edition has been renewed today. Does this User Edition contain plasma 5.8 LTS? Neon is very cryptic. So? How should I interpret this. True 5.8 LTS has been released today in the afternoon but is it in the live user edition image?

[2016-10-04 19:46] cinnamoner commented on #8
Plasma 5.8 is one thing, Neon another. I'm puzzled. Can anyone help me understand?

[2016-10-04 19:53] cinnamoner commented on #8
@Elbullazul Poor Plex. So you're setting up to eviscerate it, I gues. Wouldn't you do the same with Vista? I'll provide a link to a install.wim if needed. And a boot.wim and the exe to make an iso. Three part story.

[2016-10-04 20:00] Elbullazul commented on #8
I have a vista iso all right.

but all in all I think the current vista is ok

if you have any suggestions, please open a new thread in the redmond repo

[2016-10-04 20:01] cinnamoner commented on #8
@Elbullazul I can understand you wanting to do Plex as it's something new and exotic. Do it all the way. I like Plex. Mark my words: this on (Plex) has to be perfect. Waiting for the outcome. Everyone can have 10 but not Plex :)

[2016-10-04 20:12] dominichayesferen commented on #8
@cinnamoner Just know one thing...
...when I say Plex is BLUE, I'm serious about it. (I'm not even kidding, in some LH Builds with Plex, they even dyed the icons blue too!!)

[2016-10-04 20:14] cinnamoner commented on #8
Don't worry about Vista. It will run forever. Even after all support will have been dropped and not one browser will support it any longer :)

[2016-10-04 20:18] cinnamoner commented on #8
Blue?! What's cool is cool. No matter how blue.

[2016-10-04 20:27] cinnamoner commented on #8
Sure thing. That's what I'm doing.

[2016-10-04 20:28] dominichayesferen commented on #8
See ya...

[2016-10-05 06:36] dominichayesferen commented on #8
I'm back

[2016-10-05 12:20] Elbullazul commented on #8
@feren the ISO won't boot after installation. any other ISOs available?

[2016-10-05 15:49] dominichayesferen commented on #8
@Elbullazul You actually **Geniunely** need to wait 5 minutes for it to boot, it's that unstable a build!

[2016-10-05 16:00] dominichayesferen commented on #8
RIP Google Nexus. The Pixel Range Has Just Killed It. :'(

Today is a sad day... D:

[2016-10-05 16:59] dominichayesferen commented on #8
@Elbullazul Let me guess, CyanogenMod inspired user picture?

[2016-10-05 17:00] Elbullazul commented on #8
no, my website :)

[2016-10-05 17:15] dominichayesferen commented on #8
@Elbullazul Oh ok...

[2016-10-05 17:17] dominichayesferen commented on #8
@Elbullazul Your website still looks the same

[2016-10-05 17:18] Elbullazul commented on #8
I mean the header bg color...

[2016-10-05 17:18] dominichayesferen commented on #8
Oh ok, also, you may want to get rid of the blue line on Plex: http://b00merang.weebly.com/uploads/1/6/8/1/16813022/screenshot-2016-10-01-23-06-00_orig.png (CSD and Nemo)

[2016-10-05 17:20] Elbullazul commented on #8
it was a bad-sized picture. i fixed it, but haven't updated the screenshot

[2016-10-05 17:22] dominichayesferen commented on #8
@Elbullazul By the way, for Plex...
It was a placeholder theme for Longhorn while Microsoft worked on the Desktop Compositioning Engine (now known as DWM) and AERO and eventually got swapped out for Slate after the release of possibly the most unstable released Windows Build in all of Microsoft's history.

[2016-10-05 19:35] cinnamoner commented on #8
@Elbullazul No, I don't have any further suggestions concerning anything whatsoever. But I appreciate what we've been through. Thank you.

[2016-10-06 16:01] dominichayesferen commented on #8
@Elbullazul Some Feedback:
Slate:
Brilliant Job, just brilliant. Though, on Nemo hover buttons, half-button styled or not, have all sides of all those buttons have a line around them (some buttons have the line all around except on one side) and also make the buttons more-Slate-like (I'll get a screenshot if you want)
![screenshot from 2016-10-06 15-53-37](https://cloud.githubusercontent.com/asset

[2016-10-06 16:03] dominichayesferen commented on #8
@Elbullazul Also, on Slate, also change the Back button in Cinnamon Settings to match the Back button in Nemo...

[2016-10-07 17:06] dominichayesferen commented on #13
@Elbullazul I noticed a new bug with Jade's buttons (refer to 'Cancel' button):
![screenshot from 2016-10-07 17-05-17](https://cloud.githubusercontent.com/assets/11057934/19198776/5fd92d92-8cb0-11e6-98dd-3cb462bb8c76.png)

[2016-10-07 17:53] Elbullazul commented on #13
no problem, will check this out

BTW I decided to use gradients rather than images because doing so breaks comboboxes and entry buttons, as well as toolbuttons

[2016-10-07 17:59] dominichayesferen commented on #13
Silence has arose. DeviantArt has just lost a Windows-theming legend for real. D':
http://neiio.deviantart.com/status/5175661

[2016-10-07 18:24] Elbullazul commented on #13
he made windows themes for windows, right?

nice artwork, sad he passed away, sounds like he wasn't old at all

[2016-10-07 18:48] dominichayesferen commented on #13
He made all kinds of themes for Windows. :(

[2016-10-08 02:22] ghost commented on #13
well most windows skinners are retired or students afaik. but that
doesnt make them really old.

yes gradients are faster and more stable than images. but i just like
to use them.

[2016-10-08 13:50] dominichayesferen commented on #13
Hmm, where's everyone??

[2016-10-08 14:42] ghost commented on #13
snappy packages are currently unable to load png files.
perhaps this will be fixed in mate16.10 and other.

[2016-10-08 15:09] cinnamoner commented on #13
@feren I'm here, as always :) Anything that troubles you, or some insights?

[2016-10-08 15:14] cinnamoner commented on #13
@feren I still don't know which distro to settle for. All have flaws. An Firefox too has dropped support for Vista. Firefox won't update. Fresh install of the latest version is the only solution. 49.0.1.

[2016-10-08 15:26] cinnamoner commented on #13
Neon is pretty good but Discover is still sluggish and has slight issues. Ubuntu Mate is fast and functional but is so old school. Cinnamon would be OK but not Mint. They have driven their flagship into the fence. And I don't dare to mess with Arch. Or its offshoots. As much as I kinda like the terminal, we're in 2016. An OS without graphical software centre is not conceivable. I would go for Wind

[2016-10-08 15:29] cinnamoner commented on #13
@Elbullazul just put a thumb down whenever you want a post deleted. Just to maintain order.

[2016-10-08 15:33] cinnamoner commented on #13
@bluedxca93 If I could only have gnomenu on Mate, that would be fantastic. I don't understand the cairo dock association. What the hack is that. I know cairo but I don't understand how it connects with gnomenu.

[2016-10-08 15:57] cinnamoner commented on #13
The untimely passaway is saddening. Remember? I've been saying things about time you don't still understand.

[2016-10-08 16:00] dominichayesferen commented on #13
@cinnamoner I'd say Haze OS, but, that's dead now...
Maybe try Ubuntu and then add a Cinnamon 3.0 PPA to it, install Cinnamon and then uninstall 'unity'?

[2016-10-08 16:01] dominichayesferen commented on #13
@cinnamoner Yeah, we've lost a legend, my thoughts are with Mallory and the rest of his family...

[2016-10-08 16:03] cinnamoner commented on #13
Fun fact: Jade is reminiscent of my fridge. Looks like curved metal. I love my fridge though.

[2016-10-08 16:03] dominichayesferen commented on #13
@cinnamoner lol, that irony though

[2016-10-08 16:04] cinnamoner commented on #13
@feren Accident or illness? What was it?

[2016-10-08 16:08] dominichayesferen commented on #13
@cinnamoner He firstly said he was ill, he said that he was going to undergo surgery that'd hopefully fix it... Then came the notification, it read this:
"I  don't know how to put this into words through the tears, this has been the shittiest day of my life...I'll try to keep this brief as I'm breaking down.  My Dad, Jamie Green or neiio as most of you know him has passed away early this morning.

[2016-10-08 16:12] dominichayesferen commented on #13
@Elbullazul Shall you add me for theme development?
https://github.com/orgs/B00merang-Project/teams/development

[2016-10-08 16:14] cinnamoner commented on #13
These r things one is not supposed to talk about. But I've seen a thing or two. I'm a bit older but still qualify for young. Man.

[2016-10-08 16:18] ghost commented on #13
RIP

[2016-10-08 16:32] cinnamoner commented on #13
@feren issue a request. Can you do code though? That branch is for people who want to deal with code.

[2016-10-08 16:32] dominichayesferen commented on #13
@cinnamoner Not really...

[2016-10-08 17:27] cinnamoner commented on #13
J'ai pas envie of nothing today.

[2016-10-08 17:32] cinnamoner commented on #13
Mate has the advantage of real aero titlebar but the menu sucks. Cinnamon is not capable of real aero titlebar but one has Stark to emulate Vista/7 startmenu. Maddening. Can't someone make a DE capable of both?! Darn.

[2016-10-08 17:34] cinnamoner commented on #13
And please don't tell me real aero is obsolete. And have you seen vista expo? With like 50 open and ...

[2016-10-08 17:39] cinnamoner commented on #13
So. Where can I find a good menu (Vista/7 style) for Mate?

[2016-10-08 17:42] cinnamoner commented on #13
@feren Did you know Michael is teamed up wit Antergos, Ubuntu Mate ... you name it. He has even made a tweak for the boutique to show more apps at once?

[2016-10-08 17:48] cinnamoner commented on #13
@Elbullazul Feel free to delete this convo. Doesn't belong.

[2016-10-08 18:05] dominichayesferen commented on #13
@cinnamoner That'd be so funny if Muffin got the ability to use another window decorator though...

[2016-10-08 18:13] cinnamoner commented on #13
@feren Yeah, for sure. By the way, do you think it's possible for Elbullazul to solve that glow and blue rectangle issue on mouse actions. That's so part of Windows.

[2016-10-08 18:14] dominichayesferen commented on #13
Maybe not... (GTK Thing)

[2016-10-08 18:22] cinnamoner commented on #13
@feren And Deepin is not a bad concept. But it it should be on Ubuntu. 15.3 that is. Otherwise it's crap. The real one base on Sid is sloooow. And Manjaro's Deepin lacks a software centre and is a twisted Arch offshoot.

[2016-10-08 18:28] cinnamoner commented on #13
@feren I have to agree with Dave (Other Stuff). If one's only purpose with an OS is the OS itself, then Arch is a damn good thing :) English Bob replied that Arch is good because it's compiled on your own machine. I don't buy that. Other than the 32/64 aspect, it doesn't matter.

[2016-10-08 18:33] cinnamoner commented on #13
@feren Fun fact: I like the Calamares installer because it's got nice colors. Overall looks better than Ubiquity.

[2016-10-08 18:33] dominichayesferen commented on #13
@cinnamoner By compiled, I think he meant the installation procedure of installing the base system as a package to the target HDD, etc, etc...

[2016-10-08 18:37] cinnamoner commented on #13
@feren Man, I hope we don't upset Elbu with these off-stuff. @Elbullazul Again, please delete this segment.

[2016-10-08 18:43] cinnamoner commented on #13
@feren If you could do Arch, would you? Is it worth it? And then when ready, one faulty package can crash down the whole thing. Ubuntu or Arch. Which do you prefer? You know I'm not a big Canonical fan but ... I'm sorry, it works.

[2016-10-08 18:47] cinnamoner commented on #13
@feren I would use Debian as a server. But hey, as a daily driver ... no.

[2016-10-08 18:50] cinnamoner commented on #13
Mate and Plasma. Those are my favourites atm.

[2016-10-08 18:58] cinnamoner commented on #13
No. At this moment in time, Arch vanilla or made easy with an installer (antergos, apricity ... and well Manjaro, which is not really Arch anymore) is not my thing. Although I might be judgemental. Hey, I don't exclude that I might be wrong.

[2016-10-08 19:00] cinnamoner commented on #13
@Elbullazul Please delete the ramblings. Sorry.

[2016-10-08 19:03] cinnamoner commented on #13
I reinstall windows weakly. Imagine that with Arch. Hahaha.

[2016-10-08 19:04] dominichayesferen commented on #13
Nope, apparently not:
https://github.com/linuxmint/Cinnamon/issues/5775#issuecomment-252440354

[2016-10-08 19:07] cinnamoner commented on #13
Arch vanilla that is. Or how the hach they call that masochistic procedure when you start out from nothing to build nothing.

[2016-10-08 19:17] cinnamoner commented on #13
It's an online install. If one has the misfortune to have a corrupted package ... then ... man I respect people, masochists included. I think Arch lovers enjoy suffering.

[2016-10-08 19:24] cinnamoner commented on #13
Hey, I'm just stupid. I don't get Arch and I don't want to either. This is kind of a disclaimer.

[2016-10-08 20:15] cinnamoner commented on #13
@Elbullazul Have a good laugh and delete. Sorry.

[2016-10-09 10:06] dominichayesferen commented on #13
@Elbullazul You there? Want to add me?
https://github.com/orgs/B00merang-Project/teams/development

[2016-10-09 15:53] dominichayesferen commented on #8
**Guys**
About Themes in general, what do you guys think? (It's a modification of @Elbullazul 's latest Windows Se7en theme)
![screenshot from 2016-10-09 16-41-59](https://cloud.githubusercontent.com/assets/11057934/19221739/818e3ab6-8e38-11e6-85ae-e89a676049c2.png)

[2016-10-09 16:19] cinnamoner commented on #13
@Elbullazul Hey, add him. @feren Understand, it's a tremendous responsibility.

Well, Arch is an artform. Like painting, sculpting ... you name it. And there's no practicality to it whatsoever. It's not a tool. It's rather a purpose in itself. If building an OS is your purpose and you don't have any other purposes, than it's awesome. If you want an OS for a tool to pursue other goals than merely t

[2016-10-09 17:23] cinnamoner commented on #13
An Arch artist would never look down on an Ubutu user and say he/she is stupid. That kind of thing is done by people who adhere to Arch without understanding what Arch is. They just do it cause they think it's cool. Art is cool indeed but is not for everyone. It takes dedication, sacrifice and suffering. Arch is esoteric. Poetry. It's not a tool. The wave spread by poeple who don't understand Arch

[2016-10-09 17:30] cinnamoner commented on #13
I can never be an Arch man. I can learn Arch but I don't have the drive for it. I completely lack the desire to do Arch. I'm not interested in it. It's not a bad thing but it's not for me. Period.

[2016-10-09 17:35] dominichayesferen commented on #13
@cinnamoner What d'ya think?
https://github.com/Elbullazul/Longhorn-Collaboration/issues/8#issuecomment-252494405

[2016-10-09 17:54] cinnamoner commented on #8
@feren It's absolutely beautiful. I've been thinking about this dark glassy look. Can you make a curved taskbar as in vista. Transparent. Glassy.

[2016-10-09 18:02] cinnamoner commented on #8
Anyways, where's this modified theme?

[2016-10-09 18:06] cinnamoner commented on #8
The thing is I don't know how to get a curved real vista taskbar. Dark. Glassy/moderately transparent.

[2016-10-09 18:19] dominichayesferen commented on #8
@cinnamoner http://github.com/feren/Cinn7Cinnamon

[2016-10-09 18:20] dominichayesferen commented on #8
@cinnamoner What do you mean by 'curved'?

[2016-10-09 18:27] cinnamoner commented on #8
@feren I mean the Vista taskbar but not solid black piano. In real aero Vista it's dark, glassy, transparent.

[2016-10-09 18:35] cinnamoner commented on #8
It oly gets solid black piano when you maximize a window and so does the titlebar. In aero vista the look of the taskbar and the titlebar depends on whether on has a  maximized  window  or not.

[2016-10-09 18:37] dominichayesferen commented on #8
Elbullazul's theme is transparent...

[2016-10-14 15:14] dominichayesferen commented on #8
I'd probably go finish them off personally before it got killed...

[2016-10-14 22:56] cinnamoner commented on #8
Hmmm? What?

[2016-10-15 16:05] dominichayesferen commented on #8
The Longhorn Collaboration themes if they ever were to be killed...

[2016-10-15 16:06] dominichayesferen commented on #8
Hmm, feren OS 2017.0 is going to be a tasty release... :D

[2016-10-16 01:27] Elbullazul commented on #8
@feren can you upload the plex resources please? this VM I have won't boot up :/

[2016-10-17 13:59] #13 closed

[2016-10-17 17:55] cinnamoner commented on #13
That was a good thing to close this novel. :)

[2016-10-19 16:22] Elbullazul commented on #8
Plex Release Candidate:
![screenshot_2016-10-19_12-21-37](https://cloud.githubusercontent.com/assets/15310985/19527594/99e907ec-95f6-11e6-84c1-048ba3d301ab.png)

Only missing Aero now @feren, can you do that part? (the metacity fix)

[2016-10-19 17:04] dominichayesferen commented on #8
@Elbullazul You should probably make the text white-ish on inactive headerbars and white on Terminal's menubar

[2016-10-19 17:05] dominichayesferen commented on #8
...also, it still looks like the GTK gradient doesn't match the metacity one... no offense

[2016-10-19 17:05] dominichayesferen commented on #8
@Elbullazul Also, not sure if I can fix it without shortening the close button

[2016-10-19 17:07] Elbullazul commented on #8
the gradient I can't fix it better, it's a difference in scaling between metacity & GTK

[2016-10-19 17:07] dominichayesferen commented on #8
@Elbullazul Shall we use an image then?

[2016-10-19 17:11] Elbullazul commented on #8
it is an image i'm using

[2016-10-19 17:19] dominichayesferen commented on #8
This _might_ work:
![headerbar](https://cloud.githubusercontent.com/assets/11057934/19529611/31fe3b0a-9620-11e6-95cd-cde860dbb4ee.png)

[2016-10-19 17:33] Elbullazul commented on #8
nope, I think the image needs some stretching. It will be for another time...

[2016-11-01 01:38] Elbullazul commented on #8
forgive the Necroposting, but have a suggestion for the repo @feren

how about we split the icons theme to another separate branch, as in windows-10 repository?

also, no luck with fixes, I'll need to do with gradients maybe (!)

[2016-11-01 07:49] dominichayesferen commented on #8
@Elbullazul Good idea... RIP Gradient... :/

[2016-11-01 13:51] ghost commented on #8
@elbullazul took now the time to look a bit at adwaitas source code.
This explains why it will get harder to theme something with normal
css soon.

Do publish adwaita for 3.18.9 without  backdrop and dark variant this
week hopefully. 3.20 can be done like this too.

[2016-11-01 14:07] Elbullazul commented on #8
I don't know, the code from here: https://github.com/GNOME/gtk/tree/master/gtk/theme/Adwaita looks readable enough

[2016-11-01 15:12] ghost commented on #8
yeah i do delete the dark and backdrop variants for myself thats all.
Its indeed readable enough then but the code is very condensed.

[2016-11-01 15:28] Elbullazul commented on #8
yeah, although about half the code is

[code]

so it's basically useless

[2016-11-01 15:33] ghost commented on #8
that is a gtk design fault.

for every node and state it schould be none except its defined
differently explecitely.

its worth to tell gtk devs i believe. or are they adding 4k screens
support soon??

[2016-11-01 16:07] Elbullazul commented on #8
what happens is that GTK devs don't like wildcards `* {`, which could allow saving all this useless code...

I don't know, shouldn't it already work?

[2016-11-01 16:23] ghost commented on #8
why they do not simply create a _default_shadow.scss containig nearly
all classes sorted with text_shadow none?.

in fact i added this on my themes excessivly too but its necessary due
to gtk3 design.

[2016-11-07 11:16] Elbullazul commented on #5
well, had some spare time this weekend...

![screenshot_2016-11-05_21-38-23](https://cloud.githubusercontent.com/assets/15310985/20055862/49b70188-a4b1-11e6-8eff-2cd527fbcdae.png)
![screenshot_2016-11-05_22-59-04](https://cloud.githubusercontent.com/assets/15310985/20055863/49b96ed2-a4b1-11e6-963f-cef46d2adf80.png)

[2016-11-07 11:16] Elbullazul commented on #5
so aero is ready too :D

[2016-11-07 16:15] dominichayesferen commented on #5
@Elbullazul
1. Nice
2. Can you make the buttons touch the top of the titlebar in the metacity? (I did that myself, but I lost that (I think) when the HDD died)
3. For the headerbars, since you can't move them:
- For the close button, make the top-right corner round like the bottom-right corner is
- For the minimize button, make the top-left corner round too

Or if you can't make the buttons connec

[2016-11-07 16:43] Elbullazul commented on #5
last lines means that if I can't reduce spaces, make them look like regular aero?

[2016-11-07 17:16] dominichayesferen commented on #5
@Elbullazul Last lines mean that if you want reduce spaces, make all the button corners the same amount of rounding from the other rounded corners...

[2016-11-08 21:13] cinnamoner commented on #5
@Elbullazul Aero is cool :D

[2016-11-08 21:21] cinnamoner commented on #5
@feren @Elbullazul Meh. The buttons look good. Like them as they are.

@feren But hey, de gustibus non disputandum 🗡:D

[2016-11-10 16:04] dominichayesferen commented on #5
@Elbullazul I was just thinking it'd look odd for the buttons to be floating like that while looking like they should be at the top of the bar with no spacing...

[2016-11-10 16:05] Elbullazul commented on #5
@feren I'll have a look at the metacity theme...

[2016-11-10 16:06] dominichayesferen commented on #5
@Elbullazul I was meaning the Headerbars...

[2016-11-10 16:07] Elbullazul commented on #5
oh, yeah, they look totally out of place, but until feren os switches to gtk 3.20, those buttons are screwed over there because of padding & margins (not tweakable)

[2016-11-10 16:08] dominichayesferen commented on #5
@Elbullazul More like until LM does... (Linux Mint controls the GTK version)

[2016-11-10 16:09] Elbullazul commented on #5
switch to arch O_O

[2016-11-10 16:11] dominichayesferen commented on #5
@Elbullazul Nah, don't know how to package to repositories properly... :/

[2016-11-10 16:12] dominichayesferen commented on #5
...also, feren GTK is as good as BROKEN in 3.20... :/

[2016-11-12 15:06] dominichayesferen commented on #5
@Elbullazul This is what I mean by 'rounding':
![screenshot from 2016-11-12 15-06-33](https://cloud.githubusercontent.com/assets/11057934/20238713/9dbca350-a8e9-11e6-8f93-1a37dc06aa84.png)
(That makes it look less out-of-place when GTK separates the buttons)
Also, what happened to Non-CSB?

[2016-11-12 16:40] dominichayesferen commented on #5
@Elbullazul I also noticed a problem with the latest Aero update:
The category text looks really bad in StarkMenu (should be while instead of black)

[2016-11-12 16:40] dominichayesferen commented on #5
...either that, or have the menu box expand into the categories

[2016-11-12 20:51] cinnamoner commented on #5
@feren I have a third eye, so I knew what you meant by rounding.

[2016-11-12 20:57] cinnamoner commented on #5
@feren Oh my Goodness. Just read through that solid block of text. You should write a book titled *Longhorn*. You have my blessing (should you need it).

[2016-11-12 21:01] cinnamoner commented on #5
Just between you and me, 7 is a continuation of Longhorn. Last time I checked, Vista and 7 were basically on the same kernel :)

[2016-11-12 22:14] cinnamoner commented on #5
@feren @Elbullazul The gtk versioning thing from our beloved Gnome team is a nightmare to me. Ugh!

[2016-11-13 00:52] Elbullazul commented on #5
@feren I thought I had pushed a rounded icons version, maybe should re-check...

what happened to non-CSB? what do you mean? I haven't applied changes yet, because I don't run them as daily themes, because I love it CSB :/ I'll update them soon enough.

[2016-11-13 08:55] dominichayesferen commented on #5
@Elbullazul On the Releases, Non-CSB is missing...

[2016-11-13 16:01] Elbullazul commented on #5
@feren like I said, haven't applied changes to non-CSB yet

[2016-11-13 16:08] dominichayesferen commented on #5
Well, nevermind, I patched non-CSB

BTW, I noticed a regression:
The categories are quite unreadable on StarkMenu in Aero now...

[2016-12-07 01:07] Elbullazul commented on #8
@feren i made a quick'n dirty adaptation from 7 metacity theme for Aero Basic.

here's the file. Can you post suggestions & bugs & a couple of screenshots? (made it on windows, so couldn't try it)
[Aero express.zip](https://github.com/Elbullazul/Longhorn-Collaboration/files/635424/Aero.express.zip)

[2016-12-07 02:52] Elbullazul commented on #8
never mind, already fixed it. do you want a cinnamon theme also?

[2016-12-07 13:54] Elbullazul commented on #8
preview:
![virtualbox_ubuntu mate_07_12_2016_08_50_32](https://cloud.githubusercontent.com/assets/15310985/20970291/d2da1aac-bc5a-11e6-9f7b-aebe54cdf7b3.png)

[2016-12-07 16:16] dominichayesferen commented on #8
@Elbullazul Shaping up nicely, remember, that picture of Aero Express's Shutdown button in the one you see in this Windows Basic's era of Vista

[2016-12-07 16:18] Elbullazul commented on #8
so, do you want a cinnamon theme too?

[2016-12-07 16:53] cinnamoner commented on #8
@Elbullazul Yes.

[2016-12-07 16:55] cinnamoner commented on #8
Sorry, my crapmobile is freezing up.

[2016-12-07 19:11] Elbullazul commented on #8
**almost finished:**

![virtualbox_linux mint 18 1_07_12_2016_14_05_14](https://cloud.githubusercontent.com/assets/15310985/20982527/f83eefee-bc86-11e6-8bd1-12f0bbba5876.png)
![virtualbox_linux mint 18 1_07_12_2016_14_05_28](https://cloud.githubusercontent.com/assets/15310985/20982526/f83ce5fa-bc86-11e6-809e-becba9581d07.png)
![virtualbox_linux mint 18 1_07_12_2016_14_05_41](https://cloud.githubus

[2016-12-07 19:26] dominichayesferen commented on #8
@Elbullazul Wrong theme for Cinnamon, the Old Windows Basic is identical to the new one except the yellow-er Shutdown button in Start

BTW, the Cinnamon theme you've made is for 'Aero' in Build 5048, aka: 'The Train Wreck'

[2016-12-07 19:34] Elbullazul commented on #8
but it matches nicely...

whatever. so, I just made two themes at once???

[2016-12-07 20:27] Elbullazul commented on #8
@feren do you still want the cinnamon theme ? maybe as a standalone option?

[2016-12-07 20:39] cinnamoner commented on #8
@Elbullazul Yes, I do want a standalone. Yes. Yeah. Yep. Sure. You bet. Undoubtedly. Of course. It goes without saying. I'd gladly have it. Looking forward to it. I certainly do. No question about it. You know I do. Please, I want it badly. I'd say so. So yeah.

[2016-12-08 02:06] Elbullazul commented on #8
@feren see if I get this right:
- Aero 5048 (or whatever it's name) is a standalone theme, and is not contemplated in the current Longhorn Theme lineup.
- Aero Basic (Old Windows Basic) is just a metacity theme + the vista cinnamon theme???
and the yellow button we see here? Also from the same picture, we see that the theme is called "Express". Should we adopt it as default name? (I think it's eas

[2016-12-08 07:40] dominichayesferen commented on #8
@Elbullazul Yes

Though, your choice really if you want 5048 Aero, not really bothered here, it looks kinda bad-ish compared to other LH themes

[2016-12-08 07:44] dominichayesferen commented on #8
@Elbullazul About the naming, **it's important to note that Vista showed the Basic version of the previewed theme in Appearance**, so the Aero theme in the screenshot is 'Express', whilst the Basic theme itself is listed as 'Basic' in RTM, and it's just showing Basic as that's normal Vista Behaviour to show previews of themes without DWM Decorations, you'll even find Default in Vista looks like Ba

[2016-12-08 11:40] Elbullazul commented on #8
oh, ok. Seems kind of weird to have the same metacity themes for 3 themes, I didn't know it was common behavior when DWM didn't work. Thanks for the extra info

[2016-12-08 16:12] dominichayesferen commented on #8
@Elbullazul BTW, 5048's Titlebars also looks different

[2016-12-08 16:30] Elbullazul commented on #8
@feren yeah, but it's too much work for a theme known as the train wreck (just read about build 5048). I'll just make the cinnamon theme, it looks nice with aero express (just to my taste, won't do another aero just for that)

[2016-12-08 16:30] Elbullazul commented on #8
BTW Aero metacity will get fixed today, it's easy to do

[2016-12-08 23:04] Elbullazul commented on #8
metacity aero FIXED.

also did the small mod for the cinnamon theme:
![screenshot_2016-12-08_18-02-47](https://cloud.githubusercontent.com/assets/15310985/21031319/c6d89ec4-bd70-11e6-8adc-6cafcd479c06.png)

[2016-12-10 16:02] dominichayesferen commented on #8
@Elbullazul Erm, I believe it should be Basic Cinnamon with the yellow button, not Aero Cinnamon with the yellow button in Old Windows Basic...

[2016-12-10 16:03] dominichayesferen commented on #8
@Elbullazul Also, at that point in Development, the icon set looked like 'Windows LH' from this repository... :)

[2016-12-10 18:27] jacobpoo opened #14 "GTK 3.20 and Cinnamon 3.2.2 support"
@Elbullazul Please add gtk 3.20 and cinnamon 3.2.2 support.

[2016-12-10 19:30] dominichayesferen commented on #14
Same thing when it comes to 3.2 as Redmond Themes, either you or @Elbullazul may have to fix this one, as I'm not sure how I'd go about fixing some themes

[2016-12-11 17:10] Elbullazul commented on #14
it's doable, but I may need help on this, it's a long work

@jacobpoo do you have experience with CSS?

[2016-12-11 17:11] Elbullazul commented on #8
@feren but that's just changing the opacity to 0, right?

[2016-12-11 17:46] dominichayesferen commented on #8
@Elbullazul It requires changing the gradient colours of the menu too and changing the panel image, it's better to just base it off of the Basic one...

[2016-12-11 18:04] Elbullazul commented on #8
@feren ok, will have it fixed as soon as I can, I'm now fighting with Codeblocks to compile my final prog project like it should :angry:

[2016-12-11 18:16] daemonspudguy commented on #14
@Elbullazul No. I would if I could. I just looked up the code for the redmond themes.

@feren Are you good with CSS? If so maybe you could help @Elbullazul.

[2016-12-11 18:20] dominichayesferen commented on #14
@jacobpoo I wouldn't really know how to fix it for Popup Menus and Menus combined... :/

[2016-12-11 18:33] Elbullazul commented on #14
@jacobpoo @feren I have an idea. Maybe we can have the .menu class behave as intended (like the old popup-menu class) and use the .starkmenu class for the start menu? otherwise, I don't know what to do, mint devs apparently regresed the update about the .popup-menu suppression, but it hasn't been pushed it seems.

[2016-12-11 22:00] daemonspudguy commented on #14
@feren @Elbullazul Maybe...

[2016-12-12 11:55] Elbullazul commented on #14
I'll post an update as soon as I see if it's doable

[2016-12-12 23:52] Elbullazul commented on #14
Longhorn slate got 3.20+ compatibility. Next is plex. Then jade & aero

[2016-12-13 13:00] daemonspudguy commented on #14
@Elbullazul Thank you. Now I can use some of my favorite themes.

[2016-12-13 21:27] daemonspudguy commented on #14
@Elbullazul I know you still have work on the themes, but they look good regardless. Plex may look too similar to luna, however.

[2016-12-13 21:37] Elbullazul commented on #14
plex or slate? oh, haven't fixed plex yet, it's just the luna base right now

[2016-12-13 21:51] daemonspudguy commented on #14
@Elbullazul Okay.

[2016-12-15 07:05] feren opened #15 "GTK theme for Old Windows Basic?"
Somewhat similar to Longhorn Aero GTK controls-wise...
BTW, the top bar would be the grey at the bottom of the titlebar

[2016-12-15 11:59] Elbullazul commented on #15
ok, maybe...

[2016-12-15 14:17] #7 closed

[2016-12-15 14:51] Elbullazul commented on #15
done

[2016-12-15 14:51] #15 closed

[2016-12-15 14:52] Elbullazul commented on #5
fixed

[2016-12-15 14:52] #5 closed

[2016-12-15 21:05] daemonspudguy commented on #14
@Elbullazul Can you please fix plex soon?

[2016-12-15 22:38] Elbullazul commented on #14
yeah, it's just I have the finals coming, so...

maybe next week

[2016-12-16 00:25] daemonspudguy commented on #14
@Elbullazul Oh.

[2016-12-16 02:04] Elbullazul commented on #14
ok, so I upgraded the 3.18 codebase for an easier maintenance. It's in sync with the XP themes, so it will be easier to port it to 3.20 in a near future

[2016-12-16 02:05] Elbullazul commented on #8
fixed in latest commits

[2016-12-16 02:06] Elbullazul commented on #6
ready to port to 3.20...

[2016-12-16 20:50] Elbullazul commented on #14
almost 3.20 compatible. Just need to fix scrollbars and everything is going OK

[2016-12-19 22:39] cinnamoner commented on #14
@Elbullazul Nice themes. Thank you.

[2016-12-19 22:49] Elbullazul commented on #14
@jacobpoo plex is 3.20 compliable now. just like I said, it's a little more time to adapt the jade/aero themes now...

[2016-12-20 19:40] daemonspudguy commented on #14
@Elbullazul the cinnviistarkmenu looks a bit funny. Everything else is beautiful...

[2016-12-20 20:01] Elbullazul commented on #14
@jacobpoo that's a problem on the applet's side, it hasn't adapted fully yet

[2016-12-20 20:49] daemonspudguy commented on #14
@Elbullazul the regular one has the same problem.

[2016-12-20 21:14] Elbullazul commented on #14
if you restart cinnamon it shouldn't have a problem. Somehow, this forces the menu to use .menu-background settings

[2016-12-20 21:15] daemonspudguy commented on #14
@Elbullazul Okay...

[2016-12-20 21:16] daemonspudguy commented on #14
@Elbullazul Not for me.

[2016-12-20 21:35] Elbullazul commented on #14
are you using the latest? I've pushed a couple of commits...

[2016-12-20 22:05] daemonspudguy commented on #14
@Elbullazul Yes

[2016-12-21 12:57] Elbullazul commented on #14
weird. do you use the default menu applet?

have a look at this thread: https://github.com/NikoKrause/CinnVIIStarkMenu/issues/12

is it the same problem?

[2016-12-21 13:32] daemonspudguy commented on #14
I tried to, but it stayed the same after restarting.

[2016-12-21 13:34] Elbullazul commented on #14
if it doesn't work, no idea why it happens.

I would try to reinstall the theme, because on my cinnamon 3.2 it works perfect with cinnamon's default menu.

[2016-12-21 13:34] daemonspudguy commented on #14
@Elbullazul yes to the starkmenu question

[2016-12-21 13:36] Elbullazul commented on #14
also, can you post a screenshot of the problem? maybe I'm misunderstanding the error...

[2016-12-21 13:42] daemonspudguy commented on #14
Sure

[2016-12-21 13:43] daemonspudguy commented on #14
After school.

[2016-12-21 20:32] daemonspudguy commented on #14
@Elbullazul
![screenshot_2016-12-19_19-27-27](https://cloud.githubusercontent.com/assets/24438557/21405144/9c324a40-c792-11e6-9b3a-adbce1d652bf.png)

[2016-12-21 21:05] Elbullazul commented on #14
yeah, just like I said, only the default Cinnamon menu (menu@cinnamon.org) works for the customization.

we're all stuck with that ugly look until niko fixes the stark menu

[2016-12-21 21:05] dominichayesferen commented on #14
@jacobpoo How did you get that Sidebar working?

[2016-12-22 13:33] daemonspudguy commented on #14
@feren I used screenlets.

[2016-12-22 15:01] dominichayesferen commented on #14
@jacobpoo I can't get a sidebar on Screenlets... :/

[2016-12-22 20:29] daemonspudguy commented on #14
gnome-look.org

[2017-01-10 15:54] brandleesee opened #16 "Longhorn Icons Issues"
Other icon themes are for comparison.

- Longhorn Pics & Vids icons are the same.
- Longhorn and Adwaita (default) (bash).sh files are the same.

![Adwaita](http://i.imgur.com/ItaBm1D.png)
Adwaita(default)

![Longhorn](http://i.imgur.com/nYZs9vS.png)
Longhorn

![W10](http://i.imgur.com/jDlmhHj.png)
Windows 10

[2017-01-10 16:07] brandleesee commented on #16
Longhorn icons are blurred and pixelated.

![](http://i.imgur.com/WvIRpqO.png)
Windows 10

![](http://i.imgur.com/XjPYCWX.png)
Longhorn

![](http://i.imgur.com/RR4Y1xb.png)
Windows 10

![](http://i.imgur.com/b6CVeh4.png)
Longhorn

[2017-01-10 16:07] dominichayesferen commented on #16
@brandleesee

That's because they were actually just the 1 library back in Longhorn Builds pre-reset

[2017-01-10 16:10] brandleesee commented on #16
@feren I understand. (*and I fixed my own typo!!*)
@Elbullazul Pics and Vids are separate now so will *new* icons be considered?

[2017-01-10 16:12] dominichayesferen commented on #16
@brandleesee There again, there was LH icons (kinda) post-reset in Vista before the green icons (basically when Basic was grey) so we could use those icons for it, and leave the library icons under different names, so that when the time comes for Zuro UI, I could then introduce Libraries...

[2017-01-12 14:14] daemonspudguy commented on #14
@Elbullazul When do you plan to fix the longhorn cinnamon themes for CinnVII

[2017-01-12 14:16] Elbullazul commented on #14
@jacobpoo maybe next week

[2017-01-15 21:26] daemonspudguy commented on #14
@Elbullazul Can you please make some mdm themes for all the Redmond and Longhorn themes that have them?

[2017-01-16 16:05] dominichayesferen commented on #14
@jacobpoo That'd be hard as you'd need to exploit HTML5 to get the sliding in animation, etc from Longhorn Pre-reset builds

[2017-01-16 16:34] daemonspudguy commented on #14
@Elbullazul @feren  how about just plex and classic redmond.

[2017-01-17 19:22] dominichayesferen commented on #14
@jacobpoo Plex still has a sliding style of Slate in later builds, though, before that, you can make a Windows XP login screen skin, and then modify it for Plex

Classic Redmond:
Do you mean a Windows Longhorn watermarked No Welcome Screen Login Screen?

[2017-01-17 20:46] daemonspudguy commented on #14
@feren Longhorn watermarked works. Also, I have no knowledge of HTML and CSS. As I said a long time ago, I would if I could. I would also like a bunch of Redmond Login screens for mdm.

[2017-01-18 02:30] Elbullazul commented on #14
@jacobpoo I stopped developing for MDM a looong time ago, it's too complex & you have no live-testing, unless start mdm, see changes & kill process & make changes & restart and so on...

if I may suggest something, maybe you can check my GTK-CSS tutorial over here: http://b00merang.weebly.com/getting-started-with-css.html

good luck

[2017-01-18 13:33] daemonspudguy commented on #14
@Elbullazul oh, okay.

[2017-03-29 19:55] Elbullazul commented on #16
@feren what happened to the pre-reset longhorn icon theme?

http://ferenceo.deviantart.com/art/Sneak-Peek-614272389

[2017-03-29 20:34] cinnamoner commented on #16
@Elbullazul The longhorn icons are greatly attenuating the hover-glow displeasure. They are a welcome acquisition. Definitely.

[2017-03-29 20:37] cinnamoner commented on #16
Oh, I would love them cover all major desktops (Gnome, Plasma, Cinnamon, Xfce, Mate).

[2017-03-30 18:55] dominichayesferen commented on #16
@Elbullazul In essence, the current icon set is pretty much pre-reset

[2017-03-31 10:34] cinnamoner commented on #16
@ferns Might write a book about the genesis of Vista and it's sequel (7). I'll have you for consultant.

[2017-03-31 10:40] cinnamoner commented on #16
@feren Might write a book about the genesis of Vista and it's sequel (7). I'll have you for consultant.

[2017-04-11 10:08] feren opened #17 "Migrate to Cinnamon 4"
Running the latest of the themes on Cinnamon 3.2, and either the menus are white, or have no background whatsoever...

To fix:

- Make all the pre-reset + 5048 one's menus look like GTK Menus, and add CinnVIIStarkMenu Support
- Make the post-reset menus look like what you get in Vista...

[2017-04-22 17:21] #14 closed

[2019-07-25 21:13] brandleesee commented on #16
This is too old now. Would need re-testing. Should this happen will open a new issue because of testing on a more modern system.

[2019-07-25 21:13] #16 closed

[2019-08-16 15:09] #8 closed

[2020-01-06 00:26] Elbullazul commented on #17
Implemented this weekend

[2020-01-06 00:26] #17 closed